* MAC을 사용하는 경우 Ctrl 대신 Command입니다. Alt 대신 Option입니다.
1. **실행 단축키**
    1. (필수) `Ctrl(Command)` + `Enter` : 해당 셀 실행
    2. `Shift` + `Enter` : 해당 셀 실행 + 커서를 다음 셀로 이동
    3. (필수) `Alt(Option)` + `Enter` : 해당 셀 실행 + 코드 불록 하단 추가
2. **셀 삽입/삭제 관련 단축키**
    1. `Ctrl(Command)` + M A : 코드 셀 위에 삽입
    2. `Ctrl(Command)` + M B : 코드 셀 아래 삽입
    3. `Ctrl(Command)` + M D : 셀 지우기
    4. `Ctrl(Command)` + M Y : 코드 셀로 변경
    5. `Ctrl(Command)` + M M : 마크다운 셀로 변경
    6. `Ctrl(Command)` + M Z : 실행 취소
3. 수정 관련된 단축키
    1. `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 동시 수정
    2. (자주) `Ctrl(Command)` + D : 같은 단어 찾아 동시 수정
    3. `Ctrl(Command)` + `Shift` + L : 동일 단어를 전체로 찾아 동시 수정
    4. `Alt(Option)` + `Shift` + 화살표위아래 : 해당내용을 위나 아래 복사해서 붙여넣기
    5. `Alt(Option)` + 화살표위아래 : 해당 내용을 위나 아래로 보내기
    6. (자주) `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 위아래 동시 수정
    7. (자주) Home, End : 문장의 양 끝
    8. (필수) `Ctrl` + `/` : 주석
    9. (필수) `Shift` + `Del` : 한 줄 지우기
    10. (필수) `Tab`, `Ctrl` + `]` : 들여쓰기
    11. (필수) `Shift` + `Tab`, `Ctrl` + `[` : 내어쓰기
4. 단축키 보기 및 설정
    1. `Ctrl(Command)` + M H : 단축키 모음

# colab 사용법

# 마크다운

* 필수 마크다운
  ```
  # hello
  ## hello
  ### hello

  1. hello
  2. hello
  3. hello

  * hello
  * hello
  * hello
  ```

* 선택 마크다운(필수가 아니니 부담가지지 마세요.)
  ```
  # h1
  ## h2
  ### h3
  #### h4
  ##### h5
  ###### h6

  ---

  1. hello
  2. hello
  3. hello

  * hello
  * hello
  * hello

  - hello
  - hello
  - hello

  __굵게__
  **굵게**
  _기울여 쓰기_
  *기울여 쓰기*
  ~취소선~
  ~~취소선~~

  > 인용문 작성하기
  `인라인 코드는 이렇게 작성해요.`

  [인라인 링크](https://velog.io/)

  ![이미지 설명](이미지 링크)

  * table은 직접 만들지 마시고 https://www.tablesgenerator.com/markdown_tables 와 같은 서비스를 이용하세요.
  | 1 | 2     | 3 | 4 | 5     |
  |---|-------|---|---|-------|
  | 1 | hello | 3 | 4 | world |

  * [ ] hello
  * [X] hello
  ```

# Python

In [ ]:
#행 단위 주석입니다.

"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""

'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

In [ ]:
# 아래와 같이 열단위 주석으로 text를 넣을 수도 있습니다.
data = '''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

* Code convention python
* https://google.github.io/styleguide/
* https://google.github.io/styleguide/pyguide.html

In [ ]:
def connect_to_next_port(self, minimum: int) -> int:
    """Connects to the next available port.

    Args:
      minimum: A port value greater or equal to 1024.

    Returns:
      The new minimum port.

    Raises:
      ConnectionError: If no available port is found.
    """
    if minimum < 1024:
        # Note that this raising of ValueError is not mentioned in the doc
        # string's "Raises:" section because it is not appropriate to
        # guarantee this specific behavioral reaction to API misuse.
        raise ValueError(f'Min. port must be at least 1024, not {minimum}.')
    port = self._find_next_open_port(minimum)
    if port is None:
        raise ConnectionError(
            f'Could not connect to service on port {minimum} or higher.')
    assert port >= minimum, (
        f'Unexpected port {port} when minimum was {minimum}.')
    return port

In [ ]:
connect_to_next_port

In [ ]:
# 띄어쓰기 4칸( tab(스페이스 4칸과 다릅니다!), 6칸, 7칸 다 작동합니다.)
# 한 줄에 79자 이상을 사용하지 않는다.(권고사항)

In [ ]:
# 아래와 같이 탭과 띄어쓰기 4번을 혼용하시면 error가 납니다.
for i in range(10):
    print(i)
    print('큰 따옴표로 세번 묶거나')

0
큰 따옴표로 세번 묶거나
1
큰 따옴표로 세번 묶거나
2
큰 따옴표로 세번 묶거나
3
큰 따옴표로 세번 묶거나
4
큰 따옴표로 세번 묶거나
5
큰 따옴표로 세번 묶거나
6
큰 따옴표로 세번 묶거나
7
큰 따옴표로 세번 묶거나
8
큰 따옴표로 세번 묶거나
9
큰 따옴표로 세번 묶거나

In [ ]:
a = 10     #int, 정수형
b = 10.1   #float, 실수
c = -1
d = True   #bool, 논리형(부울형, 참거짓형)
e = 'good'
f = '10'   #str, 문자열
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j #complex, 복소수
k = 0b110   #int, 2진법 
l = 0o56    #int, 8진법
m = 0xAC    #int, 16진법

##########
def hello():
    return x**2

class A: # 자동차 공장장
    pass

n = hello # function
o = print # bulit-in function (https://docs.python.org/3/library/functions.html)
p = lambda x:x**2 # function
q = int # type
r = A # class
s = A() # instance # 자동차차
##########

print(f'type(10) : {type(a)}')
print(f'type(10.1) : {type(b)}')
print(f'type(-1) : {type(c)}')
print(f'type(True) : {type(d)}')
print(f'type(\'good\') : {type(e)}')
print(f'type(\'good\'.upper) : {type(e.upper)}')
print(f'\'10\' + \'10\' : {f + f}')
print(f'\'10\' * 3 : {f * 3}')
print(f'\'hong\' + \'gildong\' : {g + h}')
print(f'type(\'gildong\') : {type(h)}')
print(f'type(\'gildong100!!\') : {type(i)}')
print(f'type(10 + 2j) : {type(j)}')
print(f'type(0b110) : {type(k)}')
print(k)
print(f'type(0o56) : {type(i)}')
print(i)
print(f'type(0xAC) : {type(m)}')
print(m)
print(f'type(def func():...생략...) : {type(n)}')
print(f'type(print) : {type(o)}')
print(f'type(lambda x:x**2) : {type(p)}')
print(f'type(int) : {type(int)}')

type(10) : <class 'int'>
type(10.1) : <class 'float'>
type(-1) : <class 'int'>
type(True) : <class 'bool'>
type('good') : <class 'str'>
type('good'.upper) : <class 'builtin_function_or_method'>
'10' + '10' : 1010
'10' * 3 : 101010
'hong' + 'gildong' : kimhonggildong
type('gildong') : <class 'str'>
type('gildong100!!') : <class 'str'>
type(10 + 2j) : <class 'complex'>
type(0b110) : <class 'int'>
6
type(0o56) : <class 'str'>
example
type(0xAC) : <class 'int'>
172
type(def func():...생략...) : <class 'function'>
type(print) : <class 'builtin_function_or_method'>
type(lambda x:x**2) : <class 'function'>
type(int) : <class 'type'>

In [ ]:
# 이스케이프 문자
# https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
print('hello \n world')
print('hello \t world')
print('hello \' world')
print('hello \" world')
print('hello \\ world')

hello
 world
hello 	 world
hello ' world
hello " world
hello \ world

In [ ]:
#type -> string
hello = 10

print(r'hello \n world') # str -> raw (Django 2.x까지 url parsing 을 이렇게 사용하고 있습니다.)
print(f'hello \n world {hello}') # 앞으로 f-string 기법
print('hello world {}'.format(hello))

hello \n world
hello
 world 10
hello world 10

In [ ]:
# type -> float
# 오일러의 수를 모른다 해서, 수학 연산이 약하다 해서 우리 수업에 문제가 되지 않습니다.
print(2.3e3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3 * (10 ** 3)

2300.0
2300.0

2300.0

In [ ]:
print(2.3e3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3 * (10 ** -3)

2300.0
2300.0

0.0023

In [ ]:
type(2.3e-3)

float

In [ ]:
class A: # 자동차 공장장
    pass

a = A # class
b = A() # instance # 자동차

print(type(a))
print(type(b))

<class 'type'>
<class '__main__.A'>

In [ ]:
# 변수를 처음 만나시면 type, dir을 해봅니다.
# type을 찍으면 검색 키워드를 알 수 있습니다.
# dir을 찍으면 속성을 알 수 있습니다.
type(a)

type

In [ ]:
print(type(a))

<class 'type'>

In [ ]:
dir(a)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [ ]:
# 실무에서 자주 사용하는 구문
type(10)
type(10) == int
type(10.1) == float

True

In [ ]:
# 위만큼 자주 사용하진 않지만 타입 확인 코드
a = 10
isinstance(a, int)
isinstance(a, float)

False

## 변수

In [ ]:
# CS 변수는 포스트잇
# 변수는 메모리 공간을 가리킵니다.

# x라는 포스트잇도 붙였지만
# y라는 포스트잇도 붙여저 있는 것입니다.
x = 10
y = 10

id(x), id(y) #id는 누굴 가리키고 있는지 그 주소값을 반환합니다.

(139800948277776, 139800948277776)

In [ ]:
x is y

True

In [ ]:
x = 257
y = 257

id(x), id(y)

(139799698647152, 139799698642544)

In [ ]:
x is y

False

In [ ]:
# Python은 자체적으로 속도를 높이기 위한 
# 여러가지 노력들을 해왔습니다.
# (아래 언급한 것 말고도 각각의 자료형에서 메모리를 효율적으로 관리하기 위한 노력들을 말씀드리겠습니다.)
# 구버전도 말씀을 드릴 것인데 이유는 여러분이 실무에가서 접할 환경이 최신 버전이 아니기 때문입니다.
# 야xx의 경우에는 Django 1.x, python 2.x를 사용하고 있어요. 
# 대부분의 기업들이 한 번 구축해놓은 시스템은 바꾸기가 쉽지 않습니다.

# 그래서 -5 ~ 256은 먼저 메모리에 적재를 합니다.

In [ ]:
x = -5
y = -5

id(x), id(y)

(139800948277296, 139800948277296)

* 변수의 타입이란 무엇인가?
* 변수의 타입은 왜 있는 것일까?
* 어떤 고민을 통해 변수의 속성을 정했을까?

In [ ]:
'a' + 'a'

'aa'

In [ ]:
# 왜 이어 붙였지?
# 컴퓨터 입장에서 a는 97(인간이 보는 숫자) -> 0x61! 결국 숫자!

# cpython -> 이어 붙이라고 정의가 되어 있어서
# 사회 통념적인 약속 -> 코드로 구현
# type, dir
# 이러한 약속들은 매직메서드(__init__ ......)를 통해 구현하게 됩니다.

## 변수의 속성 변경

In [ ]:
'10' + '10'

'1010'

In [ ]:
int('10') + int('10')

20

In [ ]:
# 지금 배우는 포인트는 class가 주용한 문법이 아니라
# 이러한 '약속'을 우리가 변경할 수 있다가 중요한 포인트입니다.
class int(int):
    def __add__(self, a):
        return 'leehojun'

int('10') + int('10')

'leehojun'

In [ ]:
class int(int):
    def __add__(self, a):
        return self * a

int('10') + int('10')

100

In [ ]:
dir(10)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
class int(int):
    def 제곱(self, 승수):
        return self ** 승수

value = int('10')
print(dir(value))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes', '제곱']

In [ ]:
value.제곱(3)

1000

In [ ]:
x = 10
y = x
z = y

print(id(x), id(y), id(z))

139800948277776 139800948277776 139800948277776

In [ ]:
x = 10
y = x
x = 100

print(x, y)
print(id(x), id(y), id(z))

100 10
139800948280656 139800948277776 139800948277776

## 변수의 속성

* 변수는 주로 스네이크 표기법을 많이 사용합니다. 물론 회사 컨벤션을 따르셔야 합니다.
* 영문과 숫자를 사용할 수 있지만, 숫자로  시작하지는 못합니다.
* 특수문자는 사용하지 않아요.(언더바(_)는  사용합니다. 스네이크 표기법, 특수문자나  이미중 사용 가능한 것들이 있기는 합니다.  권하지 않습니다.)
* 예약어는 사용하지 않습니다.(if, elif, while, * for, etc)
* 대소문자는 구분합니다.
* 언더바로만 사용하거나 언더바로 시작할 수 있습니다.
* 대문자로 시작하는 변수를 사용할 수 있지만, 관습적으로 대문자로 시작하는 변수는 Class로 만들기 때문에 소문자로 시작하는 변수를 만들기를 권합니다. Class는 보통 파스칼 표기법을 따릅니다. 다만 회사 컨벤션마다 다릅니다.

In [ ]:
# 스네이크 표기법(Python에서 주로 사용)
hello_world = 10
# 카멜 표기법(JavaScript 에서 주로 사용)
helloWorldHello = 10
# 파스칼 표기법(Class 같은 곳에서 많이 사용)
Hello = 10

In [ ]:
# 10hello = 100
hello10 = 100

π = 3.14 # 권하지 않습니다.
print(π)

_ = 100 #언더바는 자주 사용되는데 이렇게 사용되진 않습니다.
print(_)

3.14
100

In [ ]:
for _ in range(10): # 언더바를 순회 안에서 변수로 사용하지 않을 때
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# if = 100
print = 100

In [ ]:
# print('hello')

## 입력과 출력

In [ ]:
x = input()
x

KeyboardInterrupt: ignored

In [ ]:
x + x # 사용자에게 받은 입력은 str

In [ ]:
print(10, 10, 10)

In [ ]:
print('hello', 'world', 'hello')

In [ ]:
print(x, x)

In [ ]:
print('hello world', end='!')
print('hello world', end='!')
print('hello world', end='!')

In [ ]:
print('hello', 'world', sep='!')
print('010', '5044','2903', sep='-')

In [ ]:
이름 = '이호준'
나이 = 10
print('1, 제 이름은 이호준 입니다. 제 나이는 10입니다.')
print('2, 제 이름은 ',이름, ' 입니다. 제 나이는 ', 나이,'입니다.', sep='')
print('3. 제 이름은 %s 입니다. 제 나이는 %d입니다.'%(이름, 나이))
print('4. 제 이름은 {} 입니다. 제 나이는 {}입니다.'.format(이름, 나이))
print(f'5. 제 이름은 {이름} 입니다. 제 나이는 {나이}입니다.')

[포멧코드](https://www.notion.so/paullabworkspace/9fd33417740f4eba8715f5c4a1ed7c7b?v=e01ecdfe2f9448dcaad68b03a38057a5)

## formatting

In [ ]:
print(f'{100 * 10}')

In [ ]:
# 중괄호 안에서 복잡한 연산을 하시는 것을 권하지 않습니다.
result = 100 * 10
print(f'{result}')

In [ ]:
txt = 'hello'
i = 10
print(f'{txt:>10}')
print(f'{txt:>{i}}')

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":<10}') # 왼쪽 정렬
print(f'{"hello":>10}') # 오른쪽 정렬
print(f'{"hello":^10}') # 중앙 정렬

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":!<10}') # 왼쪽 정렬
print(f'{"hello":!>10}') # 오른쪽 정렬
print(f'{"hello":!^10}') # 중앙 정렬

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":=<10}') # 왼쪽 정렬
print(f'{"hello":=>10}') # 오른쪽 정렬
print(f'{"hello":=^10}') # 중앙 정렬

In [ ]:
# 둘 다 잊으셔도 됩니다. 어디에 활용되는지 궁금하다 하신 분이 있으셔서 해드린 것입니다.
# https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/
bin(9)
print(f'{bin(9)[2:]:0>5}')

In [ ]:
bin(9 | 30)[2:].replace('1', '#').replace('0', ' ')

In [ ]:
# 요정도 활용을 합니다.
print(f'{"start":-^20}')

In [ ]:
print(f'{0.12345:0.2f}')

In [ ]:
print(f'{0.12345:0.2f}')

* 이 아래 코드는 필수는 아닙니다. 참고 삼아서만 넣어드립니다.

In [ ]:
# 이전 방식
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 %s입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 %s입니다. '%(33,56.789,'한사람'))
print('-' * 40)

# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

In [ ]:
print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good'))
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('-' * 40)

In [ ]:
char_a = '5'
int_a = 1

'''기본적으로 {} 포맷팅의 특성을 그대로 가짐'''
print(1234567890)
print(f'{char_a:>5}') # >는 오른쪽정렬
print(f'{char_a:<5}') # <는 왼쪽정렬
print(f'{char_a:^5}') # ^는 가운데정렬
print(f'{int_a:0<5}')# <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음
print(f'{int_a:^10.2f}') # ^ 가운데 정렬하면서 float 타입지정

## int

* 파이썬에서는 숫자를 정수, 실수, 복소수로 나눠 표현합니다.
* 2진수, 8진수, 16진수는 정수로 표현됩니다.

In [ ]:
10 # 정수
-10 # 정수
10.1 # 실수

a = 10
type(a)
dir(a)

In [ ]:
'bit_length' # bit로 바꿨을 때 bit의 길이이
'to_bytes' # 컴퓨터에 저장하는 바이트의 형태로 숫자를 표현현

In [ ]:
# 1Bit, 0 ~ 1 # bit - 1자리
# 1Bytes = 8bit, 00000000 ~ 11111111 # 1byte - 8bit
# 1KB (키로바이트) = 1024Bytes
# 1MB (메가바이트) = 1024KB
# 1GB (기가바이트) = 1024MB
# 1TB (테라바이트) = 1024GB
# 1PB (페타바이트) = 1024TB

In [ ]:
(9).bit_length() # 1001

In [ ]:
#컴퓨터가 숫자를 어떻게 저장하는가?
(2).to_bytes(1, byteorder='little', signed=True)
(1).to_bytes(1, byteorder='little', signed=True)
(0).to_bytes(1, byteorder='little', signed=True)
(-1).to_bytes(1, byteorder='little', signed=True)
(-2).to_bytes(1, byteorder='little', signed=True)

In [ ]:
# 0000 0001 # 1
# 1111 1110 # 1의 1의 보수
# 1111 1111 # 1의 2의 보수 => ff

In [ ]:
# 진법 변환 쉽게 하는 법 : 가장 가까운 승수를 찾아 더하거나 뺍니다.
# 10진법
# 0 1 2 3 4 5 6 7 8 9 -> 10
# 1324 = 1*10^3 + 3*10^2 + 2*10^1 + 4*10^0

# 2진법
# 0 1 -> 10
# 1001 = 1*2^3 + 1*2^0 = 9

# 8진법
# 0 1 2 3 4 5 6 7 -> 10

# 16진법
# 0 1 2 3 4 5 6 7 8 9 a b c d e f -> 10

In [ ]:
# color의 표현
# #25/96/be
# 000000 ~ ffffff
# ff는 10진수로 무슨 숫자를 의미
# 100 - 1 => ff가 됩니다. 그래서 256 - 1

In [ ]:
a = 10
type(a)

In [ ]:
int('10') + int('10')

In [ ]:
int('10', 2) # 2진법으로 10은?

In [ ]:
int('10', 8) # 8진법으로 10은?

In [ ]:
int('10', 16) # 16진법으로 10은?

In [ ]:
print(0b110) # 바이너리 - 2진수
print(0o110) # 옥타 - 8진수 
print(0x110) # 헥사 - 16진수

In [ ]:
type(0b110)

In [ ]:
a = 10

## float (실수)

In [ ]:
a = 10.1

type(a)

In [ ]:
dir(a)

In [ ]:
a = 10
b = 10.1

a + b # 다른 일부 언어에서는 허용되지 않습니다.

In [ ]:
# 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
0.1 + 0.2 # 대부분의 언어 공통입니다.

In [ ]:
a = 0.1

In [ ]:
# 20번 반복해보세요
a = a + 0.1
a

* https://docs.python.org/ko/3/tutorial/floatingpoint.html
* https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.
* 컴퓨터에서 부동소수점 숫자는 2진 분수로 표현되기에 무한대수가 발생한다.
* [무한수가 발생되는 원리](https://www.notion.so/paullabworkspace/5f34f21bf9a34015b170e7afd7da9593)

In [ ]:
'hello'.count('')

## 오늘 배운 것 정리
1. 단축키
    * (필수) Ctrl(Command) + Enter : 해당 셀 실행
    * (필수) Alt(Option) + Enter : 해당 셀 실행 + 코드 불록 하단 추가
    * (필수) Ctrl + / : 주석
    * (필수) Shift + Del : 한 줄 지우기
    * (필수) Tab, Ctrl + ] : 들여쓰기
    * (필수) Shift + Tab, Ctrl + [ : 내어쓰기

2. 마크다운
    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

3. 주석

    ```python
    #행 단위 주석입니다.

    """
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    """

    '''
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    '''
    ```

4. PEP8 권고사항
    * 띄어쓰기는 4칸
    * 한 줄에 79자 이상을 사용하지 않는다.

5. 형의 종류(type, dir)
    * 컨벤션 자료형(list, tuple, dict, set)은 나중에 진행합니다.
    * int
    * float
    * bool
    * str
    * function
    * bulit-in function

6. 이스케이프 문자
    * https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
    ```python
    print('hello \n world')
    print('hello \t world')
    print('hello \' world')
    print('hello \" world')
    print('hello \\ world')
    ```

7. 실무에서 자주 사용하는 타입확인 구문
    ```python
    type(10)
    type(10) == int
    type(10.1) == float

    a = 10
    isinstance(a, int)
    isinstance(a, float)
    ```

8. 변수의 인사이트
    ```
    dir을 입력했을 때
    1. __hello__와 같은 형태의 메직 메서드는 속성을 표현한다
    2.  언더바가 없는 메서드는 해당 자료형의 편의 기능을 제공한다
    ```

9. 입력과 출력
    ```python
    x = input() #입력, 숫자를 입력해도 str
    print(x) #출력

    이름 = '이호준'
    나이 = 10
    print(f'제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')
    print(f'{100 * 10}')
    ```


10. int 형
    * 2진수, 8진수, 16진수는 정수


11. float 형
    * 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
    0.1 + 0.2 # 대부분의 언어 공통입니다.
    * https://docs.python.org/ko/3/tutorial/floatingpoint.html
    * https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.

## str (문자열)

- 순서가 있는 **시퀀스 자료형**입니다.
- 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
- 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
- 이스케이프 문자도 사용이 가능합니다.
- 리스트, 튜플도 시퀀스 자료형입니다.

In [ ]:
s = 'paullab CEO leehojun'
s[0] #0은 index입니다. 이렇게 호출하는 것을 indexing이라고 합니다.
s

In [ ]:
type(s)

In [ ]:
dir(s)

In [ ]:
# 문자열의 메서드
# 'capitalize','casefold','center','count','encode',
# 'endswith','expandtabs','find','format','format_map',
# 'index','isalnum','isalpha','isascii','isdecimal','isdigit',
# 'isidentifier','islower','isnumeric','isprintable','isspace',
# 'istitle','isupper','join','ljust','lower','lstrip',
# 'maketrans','partition','removeprefix','removesuffix',
# 'replace','rfind','rindex','rjust','rpartition','rsplit',
# 'rstrip','split','splitlines','startswith','strip','swapcase',
# 'title','translate','upper','zfill'

In [ ]:
s = 'paullab CEO leehojun'
s.lower(), s.upper() 
# 특히 사용자에게 입력을 받는 경우 lower도 많이 사용합니다.

In [ ]:
s = 'paullab CEO leehojun'
s.find('C'), s.index('C')

In [ ]:
# 견고한 코드란?
# 시간이 지나도 그대로 사용할 수 있고 (유지보수 없이)
# error가 예측 가능하게 나는 코드
# 네이버에 이미지 슬라이딩 코드드
# bool(s.find('Z')) => -1은 True이기 때문에 주의가 필요하다.
s.find('Z')

In [ ]:
# Error가 나면 Error를 주는 것이 좋을 수 있습니다.
# Error를 안주는 언어로 JavaScript
s.index('Z')

In [ ]:
s = 'paullab CEO leehojun'
s.find('CEO')

In [ ]:
# 별 5개개
s = 'paullab CEO leehojun'
s.count('l')

In [ ]:
str([1, 2, 3, 4, 5])

In [ ]:
str([1, 2, 3, 4, 5]).count(' ')

In [ ]:
str([1, 2, 3, 4, 5]).count(',')

In [ ]:
# 1의 개수
str([1, 2, 11, 4, 111]).count('1')

In [ ]:
str(list(range(0, 10001))).count('8')

* https://codingdojang.com/scode/393?answer_mode=hide

In [ ]:
str([1,2,3,4,5]).count(' ') # list는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

In [ ]:
str([1,
     2,
     3,
     4,
     5]).count(' ') # list는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

In [ ]:
str([1,2,3,4,5,6,7,8]).count(' ')

In [ ]:
'hello'.count('')

In [ ]:
'a'.count('')

In [ ]:
''.count('')

In [ ]:
'    hello  !  '.strip() # 공백제거 매서드드

In [ ]:
'    hello  !  '.rstrip()

In [ ]:
'    hello  !  '.lstrip()

In [ ]:
# 별 5개
'hello world hi'.replace(' ', '!')
'hello world hi'.replace('world', 'w@o@r@l@d').upper()

In [ ]:
'hello world hi'.replace('world', 'w@o@r@l@d').upper().split('@')
# 반환값이 list이기 때문에 메서드 체이닝을 하려면
# 이후로 list 메서드를 사용해야 한다.

In [ ]:
'hello world hi'.replace(' ', '')

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''

data.split('\n')[0].replace(' ', '').replace('"', '')

# Pythonic하지 않다!
data.split('\n')[0].replace(' ', 
                '').replace('"', 
                '')

# Pythonic하게 하려면
data.split('\n')[0]\
                .replace(' ', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')

# 제가 사용하는 기법
processed_string = data.split('\n')[0].replace(' ', '').replace('"', '')
processed_string.replace('"', '').replace('"', '')

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 79자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 39자자

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''

data.split('\n')[0].replace(' ', '').replace('"', '').replace('+', '1').replace('-', '0')
ord('A'), chr(65) # ord는 문자를 가지고 숫자로 변경 chr은 숫자를 가지고 문자로 변경합니다.

숫자 = data.split('\n')[0].replace(' ', '').replace('"', '').replace('+', '1').replace('-', '0')
int(숫자, 2)
chr(int(숫자, 2))

In [ ]:
# 별 4.5개
'paullab CEO leehojun'.split(' ') #문자열을 쪼개어 줍니다.
'paullab!CEO!leehojun'.split('!')
'paullab,CEO,leehojun'.split(',')

In [ ]:
'010 5044 2903'.split(' ')

In [ ]:
'010 5044 2903'.split(' ')

In [ ]:
'010-5044-2903'.split('-')

In [ ]:
번호 = '010 5044-2903'.replace('-', ' ')
번호.split(' ')

In [ ]:
'010 5044 2903'.split(' ')
'010-5044-2903'.split('-')
'010 5044-2903'.replace('-',' ').split(' ')

list(map(int, '010 5044 2903'.split(' ')))
list(map(int, '010-5044-2903'.split('-')))
list(map(int, '010 5044-2903'.replace('-',' ').split(' ')))

In [ ]:
'010 5044 2903'.split() # 공백단위가 들어가게 됩니다.

In [ ]:
#'01050442903'.split('') # 빈 문자열을 넣지는 못합니다.

In [ ]:
list(map(int, '010 5044 2903'.split(' ')))

In [ ]:
int('010')

In [ ]:
#print(010) #Error

In [ ]:
num ='010 5044-2903'.replace('-',' ').split(' ')
[int(i) for i in num] # 리스트 컴프리헨션 사용
list(map(int, '010 5044 2903'.split(' ')))

# 2개 모두 새로운 리스트를 만드는 것입니다.
# 원본을 변경시키지 않습니다.

In [ ]:
s = []
for i in '010 5044-2903'.replace('-',' ').split(' '):
    s.append(int(i))
s

#요 코드를 추천합니다.
[int(i) for i in num]

In [ ]:
# 지금 진도에서 과하기 때문에
# 지금은 잊으셔도 됩니다.
# 뒤에서 상세하게 다룹니다.
def 제곱함수(x):
    return x ** 2

def 정수함수(x):
    return int(x)

list(map(제곱함수, [1, 2, 3]))
list(map(정수함수, ['1', '2', '3']))
list(map(int, ['1', '2', '3']))

list(map(int, ['010', '5044', '2903']))
list(map(int,'010 5044 2903'.split(' ')))

In [ ]:
# 별 4.5개
'~'.join(['hello', 'world', 'hello'])
'!'.join(['hello', 'world', 'hello'])
''.join(['hello', 'world', 'hello'])
' '.join(['hello', 'world', 'hello'])

In [ ]:
'hello'.isalpha()

In [ ]:
'he llo'.isalpha()

In [ ]:
'123'.isdigit()

In [ ]:
'12a3'.isdigit(), '12 3'.isdigit()

In [ ]:
'12a3'.isalnum(), '12 3'.isalnum()

In [ ]:
'안녕하세요!'.isalpha(), '안녕하세요!'.isalnum()

In [ ]:
# 퀴즈
# 숫자를 모두 더하라!
result = 0

for i in '123abc913sldlf':
    # print(i.isdigit())
    if i.isdigit():
        result += int(i) # result = result + int(i)
result

In [ ]:
result = 0

for i in '123abc913sldlf':
    if i.isdigit():
        result += int(i)
result

In [ ]:
'paullab CEO leehojun'.isascii()

In [ ]:
'paullab CEO leehojun'.rjust(30) #오른쪽 정렬
'paullab CEO leehojun'.ljust(30) #왼쪽 정렬
'paullab CEO leehojun'.center(30)#가운데 정렬

In [ ]:
'hello'.zfill(20) # 데이터의 빈 공간을 0으로 채워줍니다.

In [ ]:
'1001'.zfill(5)
'hello'.zfill(10).replace('0','-')

In [ ]:
규칙테이블 = str.maketrans({'\n':'', '\t':''}) #\n : 줄바꿈     \t:탭(tab)
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

In [ ]:
'paullab \n\n\n CEO \t\t\t leehojun'.replace('\n', '').replace('\t', '')

In [ ]:
규칙테이블 = str.maketrans('le', '12')
'paullab CEO leehojun'.translate(규칙테이블)

## pep

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa => 80자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 => 40자면 한글 넘어갑니다.
# line에 딱 맞춰 들어간 것을 볼 수 있습니다. 
# 강제사항은 아닙니다.
# 띄어쓰기 4번도 강제사항은 아닙니다.
# pep8, pep 20에 기술되어 있습니다. => pep(Python Enhancement Proposal)란 무엇인가요? 8이란 무엇인가요?
# pep8 : Style Guide for Python Code (https://peps.python.org/pep-0008/)
# pep20 : The Zen of Python(https://peps.python.org/pep-0020/)  #이스터에그로 숨겨져 있습니다.
# https://peps.python.org/

In [ ]:
# pep20 : The Zen of Python  #이스터에그로 숨겨져 있습니다.

# Beautiful is better than ugly.
# Explicit is better than implicit.
# Simple is better than complex.
# Complex is better than complicated.
# Flat is better than nested.
# Sparse is better than dense.
# Readability counts.
# Special cases aren't special enough to break the rules.
# Although practicality beats purity.
# Errors should never pass silently.
# Unless explicitly silenced.
# In the face of ambiguity, refuse the temptation to guess.
# There should be one-- and preferably only one --obvious way to do it.
# Although that way may not be obvious at first unless you're Dutch.
# Now is better than never.
# Although never is often better than *right* now.
# If the implementation is hard to explain, it's a bad idea.
# If the implementation is easy to explain, it may be a good idea.
# Namespaces are one honking great idea -- let's do more of those!

## cpython

* 공식홈페이지에서 다운로드 받는 것이 cpython입니다.
* https://github.com/python/cpython
* list를 구현한 코드 : https://github.com/python/cpython/blob/main/Objects/listobject.c

## 인덱싱과 슬라이싱

In [ ]:
name = 'Guido van Rossum'
print(name[0])
print(name[1])
print(name[2])

In [ ]:
# s[start:stop:step] #step은 생략 시 자동으로 1로 반응응
s = 'paullab CEO leehojun'
s[:] # 얕은 복사
s[5:]
s[:5]
s[3:10]
s[:]
s[0:20:2]

In [ ]:
# 자주 사용되는 코드
s = 'paullab CEO leehojun!'
s[:] # sting에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
s[:-1] # 마지막 요소만 제외하고 다 슬라이싱

In [ ]:
test = [1, 2, 3, 4]
test2 = test
test[0] = 1000
test, test2

In [ ]:
test = [1, 2, 3, 4]
test2 = test[:] # 새로운 리스트를 만들어서 test2에게 줍니다.
test[0] = 1000
test, test2

## 문자열의 연산

In [ ]:
s = 'hello world'
dir(s)
s + s
s * 3

## 형 변환

* 형변환 : type을 변경하는 것입니다.

In [ ]:
# x = int(input())
x + x # but 알파벳 입력하면 error!

In [ ]:
x = input()
if x.isdigit():
    x = int(x) # but 알파벳 입력하면 error!

x + x

In [ ]:
# int('abc') # error
int(10.1) # 버림
int('10') # 형 변환 가능
# int('10.1') #형 변환 불가능

In [ ]:
float('10') # 형 변환 가능
float('10.1') #형 변환 가능

In [ ]:
int('10a') # 되는 언어가 있어서 보여드린 것입니다.
# Python에서는 허용하지 않습니다.

In [ ]:
def hello():
    pass
    
str('123')
str(True)
str(None)
str(type)
str(hello)
str([1, 2, 3])
str({1, 2, 3})
str({'one':1, 'two':2})

In [ ]:
# 별 5개
if True:
    print('hi')

if 'hello':
    print('hi')

# 정말 많이 사용하는 코드드
l = [1, 2, 3]
while l:
    print(l.pop())

bool('') # 빈 문자열을 제외하고 모두 True
bool('a') 
bool('False') # 문자열 False이기 때문에  True
bool(0) # 0을 제외하고 모두 True
bool(-1)
bool(100)
bool(None) # 비어있음을 명시해주는 키워드 -> False
bool([]) # 컨벤션 자료형은 비어있으면 False
bool({})

In [ ]:
# list로 형변환
s = '10'
l = list(s)
l

In [ ]:
s = 'leehojun'
l = list(s)
l

In [ ]:
# tuple로 형변환
s = 'leehojun'
l = tuple(s)
l

In [ ]:
# dict로 형변환
# name = 'leehojun' #error
# dict(name)

s = [{('name', 'leehojun'), ('age', 10)}]
d = dict(s)
d

In [ ]:
# set(집합)으로 형변환
name = 'leehojun'
set(name) # 순서를 보장하지 않음음

In [ ]:
len('hello world') # __len__
len([1, 2, 3, 4])

## 문제풀이

In [ ]:
# 연습문제 2
x = input()
print(x * 2)

In [ ]:
# 연습문제 3
num = 123456789
a = list(str(num))
print(a[3])

In [ ]:
# 강사님 풀이
# 2번
user_input = input('문자를 입력해주세요!')
print(user_input * 2)

# 3번
num = 123456789
list(str(num))
list(str(num))[3]

## 산술연산

In [ ]:
a = 10
b = 3

print(f'10 + 3 == {a + b}')
print(f'10 - 3 == {a - b}')
print(f'10 / 3 == {a / b}')
print(f'10 // 3 == {a // b}') # 몫만 나옴(정수만!)
print(f'10 * 3 == {a * b}')
print(f'10 ** 3 == {a ** b}') # 10의 3승
print(f'10 % 3 == {a % b}') # 나머지

In [ ]:
# 연산자 우선순위는 and, or, 4칙연산, 제곱 정도만 아셔도
# 코딩하는데 큰 무리가 없습니다.
# (모르시면 읽는데 어려움이 생기기도 합니다.)

print(3 ** 2 * 3) #연산자 우선순위에서 거듭제곱이 곱하기보다 높다.
print(3 * 3 ** 2) 
print(3 + 3 * 2) #c 3+3부터 먼저 하지 않음
# 우선순위 (and > or)

In [ ]:
a = 10
b = 3

print(f'10 > 3 == {a > b}')
print(f'10 >= 3 == {a >= b}')
print(f'10 < 3 == {a < b}')
print(f'10 <= 3 == {a <= b}')
print(f'10 == 3 == {a == b}')
print(f'10 != 3 == {a != b}')

## 논리연산

In [ ]:
# and는 곱
# or는 합
# not은 반대
# True 1
# False 0
# 중요한 포인트는 저렇게 했을 때 언제 True가 되는지 정리하는 것

print(True and False)
print(True or False)
print(True or True)
if True and False:
    print('hello')

if 10 > 3 and 8 % 3 == 0:
    print('hello')

# and는 언제 True가 되나요?
# 모두 True일 때
# or는 언제 True가 되나요?
# 둘 중에 하나라도 참이라면 True

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

In [ ]:
for i in range(101):
    if i % 3 == 0 or i % 5 == 0:
        print(i)

In [ ]:
result = 0
for i in range(101):
    if i % 3 == 0:
        result += i # result = result + i
    if i % 5 == 0:
        result += i
    if i % 15 == 0:
        result -= i
print(result)

In [ ]:
not True

In [ ]:
not False

In [ ]:
# Python 입장에서 보는 코드
# False and ????? => 물음표에 무엇이 나오든 false
# 그래서 Python도 저 물음표를 보지 않습니다.

# 1/0 # ZeroDivisionError

def solution():
    1/0

if False and solution():
    print('hello')

In [ ]:
# True or ???? => 물음표에 무엇이 나오든 True
# 그래서 Python도 저 물음표를 보지 않습니다.
def solution():
    1/0

if True or solution():
    print('hello')

In [ ]:
# 단락 평가(컴퓨터가 어디까지 보는지 판단해서 활용)
username = '' # 사용자가 아무것도 입력하지 않았을 경우
username = username or 'licat'
username

In [ ]:
username = 'leehojun' # 사용자가 이름을 입력했을 경우
username = username or 'licat'
username

In [ ]:
# and와 or의 우선순위(and가 더 높습니다.)
for i in range(21):
    if i % 3 == 0 and i % 5 == 0 or i % 2 == 0:
        print(i)

for i in range(21):
    if (i % 3 == 0 and i % 5 == 0) or i % 2 == 0:
        print(i)

In [ ]:
# 아래는 출력되는 값이 다릅니다! 우선순위가 낮은 or가 먼저 나왔기 때문입니다.
# 결론 : 헷갈리시면 괄호를 사용해주세요!
for i in range(21):
    if (i % 3 == 0 or i % 5 == 0) and i % 2 == 0:
        print(i)

for i in range(21):
    if i % 3 == 0 or i % 5 == 0 and i % 2 == 0:
        print(i)

## 비트연산(중요도 하)

In [ ]:
# and
# 1001 == 9
# 0010 == 2
# ----
# 0000 == 0

In [ ]:
9 & 2

In [ ]:
# 1001 == 9
# 1000 == 8
# ------
# 1000 == 8
9 & 8

In [ ]:
# or(더하기, 대신 자리올림이 되진 않습니다.)
# 1001 == 9
# 0011 == 3
# ----
# 1011 == 11

9 | 3

In [ ]:
# xor(같을 경우 0, 다를 경우 1)
# 1001 == 9
# 0011 == 3
# ----
# 1010 == 10

9 ^ 3

In [ ]:
~9 # 2의 보수를 취하는 것 (9에게 +1한 다음 -를 취하시면 됨)
~-7 # 2의 보수를 취하는 것 (-7에게 +1한 다음 -를 취하시면 됨)

In [ ]:
3 << 2 # 3을 2진수로 표현하면 0011인데 2칸을 왼쪽으로 미는 것입니다.
#1100

In [ ]:
7 >> 2

## 할당연산

In [ ]:
# a = 10
# a = a + 10
a =  + 10 # 이렇게 a를 지우면 양수를 표현하는 10만 남아요.
a

In [ ]:
a = 10
a += 10 # a = a + 10
a

In [ ]:
a = 10
a //= 10 # 산술 연산 모두 됩니다.
a

In [ ]:
#Python에서 특이하게 ++a, ++b, a++, b++가 없습니다.

## 식별연산자

In [ ]:
# 앞으로 아래 2개를 활용해서 Python에
# 컨벤션 자료형이 어떻게 구성이 되는지 확인해볼겁니다.
# id()
# is

In [ ]:
a = 256
b = 256
a is b

In [ ]:
a = 999
b = 999
a is b

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

In [ ]:
a[0] = 100
a, b

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a == b # Python에 등호는 type과 value를 봅니다.

In [ ]:
# is는 주소값을 비교합니다.
id(a) == id(b) #이게 False면 is도 False다.

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
id(a), id(b)

In [ ]:
a == b # 값이 같은 것과 메모리에 같은 공간에 저장되어 있다는 얘기는 다른 이야기 입니다.

## not의 위치

In [ ]:
a = 10
b = 100
a is not b # not의 위치
# a not is b #error

In [ ]:
a = 10
b = [10, 20, 30]
a not in b # not의 위치

## 멤버 연산

In [ ]:
'a' in 'helalo world'
'a' in 'hello world'
'a' in ['a', 'b']
'a' in {'a':10, 'b':20}
# '10' in {'a':10, 'b':20} dict안에 있는 value 값이 있는지 확인하고 싶으면
10 in {'a':10, 'b':20}.values()
10 in {10, 20, 30}

In [ ]:
'a' not in ['aa', 'bb']

In [ ]:
10 in [10, 20, 30]
[10] in [10, 20, 30]
[10] in [[10], [20], [30]]
[10, 20] in [10, 20, 30]
[10, 20] in [[10, 20], 30]
set([10, 20]).issubset(set([10, 20, 30]))
{10, 20}.issubset({10, 20, 30, 40})

## 연습문제

In [ ]:
# 1번
a = 100
(a > 100) and (a < 200) # False
(a > 100) or (a < 200) # True
(a >= 100) and (a <= 200) # True
(a >= 100) or (a <= 200) # True

In [ ]:
# 2번
b = 25
(b % 2 == 0) and (b % 5 == 0)

In [ ]:
# 3번
c = 1000
c / 100
# 결과값은 10입니다.

#강사님께서 원하신 답
c//100

In [ ]:
# 4번 (심화문제) 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.
# 그리디 알고리즘 (욕심쟁이 알고리즘)

# 내가 푼 공식... 이게 맞냐.. ㅠㅠ
money = int(input())
x = money // 5000
y = (money - (5000 * x)) // 1000
z = (money - (5000 * x) - (1000 * y)) // 500
f = (money - (5000 * x) - (1000 * y) - (500 * z)) // 100
print (f'5000원의 수:{x}, 1000원의 수:{y}, 500원의 수:{z}, 100원의 수:{f}')

# 강사님 풀이법
남은금액 = int(input())

오천원 = 남은금액 // 5000
남은금액 = 남은금액 % 5000

천원 = 남은금액 // 1000
남은금액 = 남은금액 % 1000

오백원 = 남은금액 // 500
남은금액 = 남은금액 % 500

백원 = 남은금액 // 100
남은금액 = 남은금액 % 100

print(오천원, 천원, 오백원, 백원)

In [ ]:
#4번
# 그리디 알고리즘(욕심쟁이 알고리즘)
남은금액 = int(input())

오천원 = 남은금액 // 5000
# 남은금액 = 남은금액 % 5000
남은금액 = 남은금액 - (5000 * 오천원)

천원 = 남은금액 // 1000
남은금액 = 남은금액 % 1000

오백원 = 남은금액 // 500
남은금액 = 남은금액 % 500

백원 = 남은금액 // 100
남은금액 = 남은금액 % 100

print(오천원, 천원, 오백원, 백원)

In [ ]:
a = 40
b = 14
~a
~b

## 함수

1. 코드 덩어리(정말 쉽게 설명하자면...)
2. 코드를 재사용 할 수 있으며, 실수를 줄일 수 있습니다.
3. 코드의 구조(아키텍처)를 한 눈에 파악할 수 있습니다.

In [ ]:
# def 은 함수의 이름만 읽는다. 함수 정의된 값을 읽는 것은 아니다.
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

# 건축 또는 집짓기?
# 신입사원이 왔을 때
# 3년에 한 번 이직
# 7년에 한 번 이직
# 오래 있으신 분들
부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [ ]:
# 파선아실 (파라미터는 선언할 때 , 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# 같은 코드 1 (return값이 없으면 자동으로 None이 들어간다.)
def function(x, y):
    z = x + y
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# 같은 코드 2
def function(x, y):
    z = x + y
    return None
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# 같은 코드 3 (return에 값이 없으면 자동으로 None이 출력된다.)
def function(x, y):
    z = x + y
    return
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
def hello():
    print('1')
    print('2')
    print('3')

print(hello())

In [ ]:
# 연습문제 1
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    one()
    return

print(two())

In [ ]:
# 연습문제 2
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    x = one()
    return x + x

print(two())

In [ ]:
# 연습문제 3
def one(a, b):
    print('one1')
    print('one2')
    print('one3')
    return a + b

def two(x):
    y = 100
    print('two1')
    print('two2')
    x = one(x, y)
    return x + x

print(two(10))

In [ ]:
# 연습문제 4
def one():
    print('one')
    return 10

def two():
    print('two')
    return 10

def three():
    print('three')
    return 10

a = one()
b = two()
c = three()

print(a + b)
print(a + b + c)

In [ ]:
# 함수란 무엇일까요?
# 함수의 이름은 메모리 상에  코드 블럭을 가리키는 변수입니다
leehojun = print
leehojun('hello') # 소괄호는 그 함수 블록을 실행시키는 명령어가 됩니다.

In [ ]:
id(leehojun), id(print)

In [ ]:
l = [leehojun, print, leehojun, print]
leehojun('hello world')
l[0]('hello world')

In [ ]:
def hello():
    def custom_sum(a, b):
        return a + b
    return custom_sum

c = hello()
c(10, 100)

## 함수의 기본 기능

In [ ]:
# 파선아실 (파라미터는 선언할 때 , 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# return을 만나게 되면 함수는 종료가 됩니다.
def function(x, y):
    z = x + y
    return z
    print('hello')
    print('hello')
print(function(5, 7))

In [ ]:
# return을 빨리 만나게 해주세요.
# early return
# 조건이 부합하지 않으면 바로 return을 하도록 하는 코딩 패턴
# 이렇게 작성함으로써, 가독성이 좋은 코드
def custom_sum(x, y):
    if(type(x) != int and type(x) != float) or (type(y) != int and type(y) != float):
        return '연산할 수 없습니다.'
    z = x + y # 100줄이라 가정
    return z
print(custom_sum(5, 7.25))

In [ ]:
# 한글코딩에 장점
# 1. 고유명사(한라산, 새싹멤버)
# 2. 알고리즘 가독성은 괜찮습니다. 프로젝트는 조금 힘들 수 있어요. 일부 모듈에서는 사용할 수 있습니다.

# 한글코딩에 단점
# 1. 싫어하시는 분도 많습니다.
# 2. 한영키 바꾸는 것

In [ ]:
# 함수 안에 함수
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    return 100

print(one())

In [ ]:
# 함수 안에 함수
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    two()
    three()
    return 100

print(one())

In [ ]:
# 함수 안에 함수와 함수 안에 변수는 밖에서 호출이 안됩니다.
# 아래 것이 만약 실행되었다면 위 어딘가에서 two와 x가 정의되어 있는 것입니다.
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    two()
    three()
    x = 1000
    return 100

one()
print(x)
two()

In [ ]:
# 함수 안에 함수와 함수 안에 변수를 해봤으니
# 이번에는 함수 밖에 함수와 함수 밖에 변수를 해보도록 하겠습니다.

def test():
    print('test')

def one():
    test()

def two():
    test()

one()
two()
test()

In [ ]:
# 위 원리와 마찬가지로 밖에 있는 변수를 '가져오는 것만' 가능합니다.
# 수정은 안됩니다.
test = 10

def one():
    print(test)

def two():
    print(test)

one()
two()
test()

In [ ]:
# 이렇게 하시면 error가 납니다! 밖에 있는 변수는 수정이 안됩니다.

test = 10

def one():
    test = test + 10

one()

## 지역 변수와 전역 변수

In [ ]:
# 전역변수 접근은 가능하지만 수정이 되진 않습니다.
a = 100
def f():
    a = a + 1
f()

In [ ]:
# 전역변수를 함수 내부에서 수정이 되게 하는 코드입니다.
# 권하지 않습니다.
a = 100
def f():
    global a  # 실무에서 사용 안합니다.
    a = a + 1
f()

In [ ]:
a = 100
def f(x):
    x = x + 1
    return x
a = f(a)
print(a)

In [ ]:
# 순수 함수
def f(x):
    return x + x + 1000
f(10)
f(20) 
# 아규먼트 값에 따라 다르지만 
# 20에 2배에서 100이 더해진다는 사실은 변하지 않죠?

In [ ]:
test = 100
def f(x):
    return x + x + 1000 + test
f(10)
# 아규먼트 값에 따라 다르지만 
# 아규먼트에 2배에서 200이 더해진다는 사실은 변하지 않죠?
# 그렇지 않습니다. test 값이 다른 곳에서 조작이 되면
# 더해지는 값이 200이 안될 수도 있죠.
# 예측이 불가하게 되는 것!

In [ ]:
# 지역변수와 전역변수 이어서
# 전역변수 : 전역에서 접근할 수 있는 변수
# 지역변수 : 함수 내에서만 접근할 수 있는 변수

In [ ]:
a = 100
def one():
    a = 10
    print(a)

one()
print(a)

In [ ]:
# 어려우신 분들은 pass!
# 조금 있다가 요약정리에서도 써드리지 않을 예정입니다.
# 자신의 공간에 변수가 선언되어 있지 않으면
# 전역까지 찾아 올라갑니다. 전역에도 없으면 error

a = 100
def one():
    a = 10
    def two():
        def three():
            a = 1000
            print(a)
        three()
        print(a)
    two()
    print(a)

one()
print(a)

In [ ]:
# inner가 outer에 변수를 건드리고 싶은데
# inner 안에서는 x에 수정권한이 전혀 없습니다.
# 간혹 사용하지만 중요도는 낮음
x = 100
def outer():
    x = 1
    def inner():
        nonlocal x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

In [ ]:
# error가 나는 코드
x = 100
def outer():
    x = 1
    def inner():
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

In [ ]:
x = 100
def outer():
    x = 1
    def inner():
        global x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

In [ ]:
## 재귀함수

* 내가 나를 호출하는 것입니다.
* 재귀 <-> for문은 대부분 호환이 가능합니다.
* 반복문 사용하시기를 권합니다!
* 어렵고 효율도 안좋아요! (얼마나 효율이 안좋은지도 확인해보겠습니다.)
* 필수적으로 사용하는 곳이 있습니다. (분할 정복, 다이나믹 프로그래밍, 닥익스트라 etc.)

In [ ]:
# sys.setrecursionlimit -> 제한을 늘릴 수 있음
# 실행시키지 마세요.
def 숫자출력():
    print(1)
    return 숫자출력()
숫자출력()

In [ ]:
# for로 펙토리얼
# 5! = 5 * 4 * 3 * 2 * 1

result = 1

# 1 * 2 * 3 * 4 * 5
for i in range(1, 6):
    result *= i
    
result

In [ ]:
# 재귀로 펙토리얼

def f(n):
    if n <= 1:
        return 1
    else:
        return n * f(n-1)

f(5)

'''
f(n)
f(5)    5 * f(4) == 5 * 24
f(4)    4 * f(3) == 4 * 6
f(3)    3 * f(2) == 3 * 2
f(2)    2 * f(1) == 2 * 1
f(1)    1
'''

In [ ]:
# for로 문자열 거꾸로 출력하기
s = 'hello'
result = ''

for i in s:
    result = i + result

result

'''
result = 'h' + ''
result = 'e' + 'h'
result = 'l' + 'eh'
result = 'l' + 'leh'
result = 'o' + 'lleh'
'''

# 실무에서는 이렇게 거꾸로 만들지 않습니다.
# 슬라이싱이 일반 for문보다 8배 빠릅니다.
# s[::-1] 이렇게 쓰시면 됩니다.

In [ ]:
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return reverse(s[1:]) + s[0]

reverse('hello')

'''
reverse('hello') reverse('ello) + 'h'

'''

In [ ]:
# 피보나치 수열
# 재귀가 얼마나 비효율적인지 보여드리기 위해서 진행
# 1 1 2 3 5 8 13 21

curr = 1
next = 1
for i in range(1, 6):
    curr, next = next, curr + next
    
next

In [ ]:
# 피보나치 재귀

def f(n):
    if n == 1 or n == 2:
        return 1
    return f(n-1) + f(n-2)

f(1), f(2), f(3), f(4), f(5)

In [ ]:
f(35)

In [ ]:
# 재구의 비효율을 이렇게 해결할 수 있다는 것을 보여드리기 위함
# but 가능 하면 for를 이용해주세요.
from functools import lru_cache

@lru_cache(maxsize=None)
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(40)

 ## !! 연습문제

In [ ]:
# 연습문제 1번
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')
        
    print('I')
    함수2()
    return "python"
	

a = 함수1()
print(a)

In [ ]:
# 연습문제 2번
def plus(num1, num2):
	return num1 + num2

def minus(num1, num2):
	return num1 - num2

def multiply(num1, num2):
	return num1 * num2

def divide(num1, num2):
	return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

In [ ]:
plus = lambda num1, num2 : num1 + num2
minus = lambda num1, num2 : num1 - num2
multiply = lambda num1, num2 : num1 / num2
divide = lambda num1, num2 : num1 * num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
# 연습문제 2번
def plus(num1, num2):
    if type(num1) == int and type(num2) == int:
        return num1 + num2
    return '정수가 아니기에 연산할 수 없습니다.'

print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")
print(f"plus : {plus(10, 15)}")

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
# 연습문제 2번
def plus(num1, num2):
    if type(num1) == int and type(num2) == int:
        return num1 + num2
    return float('inf')

print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")
print(f"plus : {plus(10, 15)}")

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
# 연습문제 2번
def plus(num1, num2):
    try:
        return num1 + num2
    except:
        return float('inf')

print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")
print(f"plus : {plus(10, 15)}")

In [ ]:
float('inf') > 1000000000000000000000000

In [ ]:
# # 연습문제 3번
# 3. x의 n제곱을 구하는 함수를 만들어주세요.
# 재귀함수를 이용하여 만들어야하며, x은 0이 아닙니다. (x, n > 1)

def 제곱(x, n):
    if n == 0:
        return 1
    return x * 제곱(x, n-1)

제곱(3, 3)
제곱(3, 4)

In [ ]:
# 재귀함수를 사용해서 푼 것은 아니고
# 팩토리 함수라고도 하고, 클로져라고도 합니다.
def 제곱(x):
    def 승수(y):
        return x ** y
    return 승수

제곱3 = 제곱(3)
제곱3(4)

## list (리스트)

* 순서를 가진 데이터들의 집합(Sequence)
* 리스트는 값의 변경 가능
* 리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능
* 리스트 안에 다른 set, dict, tuple 등을 넣는 것이 가능합니다.

In [ ]:
l = [1000, 2000, 3000, 1000, 20000, 30000]
id(l[0]), id(l[3])

In [ ]:
# 컨벤션 자료형(딕셔너리, 튜플, 셋, 리스트)에서는
# 메모리 효율을 위해
# 같은 값이 있을 경우 같은 곳을 가리키게 설계되어 있습니다.

In [ ]:
l = [10, 20, 30, 40]
l[0] = 1000
l

In [ ]:
s = 'hello world'
s[0] = 'k' #error
s

In [ ]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

data

In [ ]:
data[0]

In [ ]:
data[0][0]

In [ ]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

data[0][0] *= 2
data[0][1] *= 2
data[0][2] *= 2
data

In [ ]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

data[0][0] *= 2
data[0][1] *= 2
data[0][2] *= 2
data[1][0] *= 2
data[1][1] *= 2
data[1][2] *= 2
data[2][0] *= 2
data[2][1] *= 2
data[2][2] *= 2
data

In [ ]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

for i in range(3):
    for j in range(3):
        data[i][j] *= 2

data

```
   3                    == 스칼라
  [3, 4]                == 백터
 [[1, 2, 3],            == 매트릭스(행렬)
  [4, 5, 6],
  [7, 8, 9]]
[[[1], [2], [3]],       == 텐서(다차원, 3차원 이상)
 [[4], [5], [6]],
 [[7], [8], [9]]]

 텐서플로우 : 인공지능 중 유명한 라이브러리
```

In [ ]:
# 리스트에서 주의해야 하는 연산!
x = [10] * 3
x

In [ ]:
x[0] = 100
x

In [ ]:
x = [[10] * 2] * 3
x

In [ ]:
x[0][0] = 100
x

In [ ]:
x = [[[10] * 3] * 3] * 4
x[0][0][0] = 1000
x

In [ ]:
[1, 2, 3] + [1, 2, 3] # 많이 사용합니다!

In [ ]:
[1, 2, 3] + 1

In [ ]:
id(x[0][0]), id(x[0][1])

In [ ]:
l = [10, 20, 30]
type(l), dir(l), help(l)

## 리스트의 메서드

In [ ]:
# 'append', 'clear', 'copy', 'count', 'extend', 'index'
# 'insert', 'pop', 'remove', 'reverse', 'sort'

In [ ]:
# 요소 1개를 추가할 때
l = [1, 2, 3]
l.append(4)
l

In [ ]:
l = [1, 2, 3]
l.append([1, 2, 3])
l

In [ ]:
# 요소 여러 개를 추가할 때
l = [1, 2, 3]
l.extend(4) #error
l

In [ ]:
l = [1, 2, 3]
l.extend('hello')
l

In [ ]:
l = [1, 2, 3]
l.extend({'one':10, 'two':20})
l

In [ ]:
l = [1, 2, 3]
l.extend({10, 20, 30})
l

In [ ]:
l = [1, 2, 3]
l.extend([1, 2, 3])
l

In [ ]:
l = [10, 20, 30]
l.clear()
l

In [ ]:
제주과일가게 = [['바나나', 1000],['수박', 2000],['딸기', 3000]]
서울과일가게 = 제주과일가게
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

In [ ]:
제주과일가게 = [['바나나', 1000],['수박', 2000],['딸기', 3000]]
서울과일가게 = 제주과일가게.copy() # 얕은 복사
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

In [ ]:
제주과일가게 = [['바나나', 1000],['수박', 2000],['딸기', 3000]]
서울과일가게 = 제주과일가게[:] # 슬라이싱 사용하여 새로운 객체 생성 (얕은 복사)
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

In [ ]:
s = 'hello world'
s[:5]

id(s), id(s[:5])

In [ ]:
l = [10, 20, 30, 40, 50]
l[:3]
ll = l[:]
ll

id(l), id(ll)

In [ ]:
# 이 이상의 내용은 뒤에 얕은 복사와 깊은 복사에서 알아봅니다.
제주과일가게 = [['바나나', 1000],['수박', 2000],['딸기', 3000]]
# 서울과일가게 = 제주과일가게[:] # 얕은 복사
서울과일가게 = 제주과일가게.copy() # 얕은 복사
id(서울과일가게[0]), id(제주과일가게[0])
id(서울과일가게[0][0]), id(제주과일가게[0][0])
서울과일가게[0][1] = 3000
서울과일가게, 제주과일가게

In [ ]:
l = [1, 2, 3]
ll = l[:]
l[0] = 1000
l, ll

In [ ]:
l = [1, 2, 3]
ll = l.copy()
l[0] = 1000
l, ll

In [ ]:
l = [1, 2, 3, 1, 1, 1, 2, 3, 2, 3, 1, 1]
l.count(1)

In [ ]:
a = [10, 1, 1, 11, 2, 23, 12]
a.index(11) # find는 없음

In [ ]:
a = [10, 1, 1, 11, 2, 23, 12, 11]
a.index(11) # 맨 처음 찾은 index 값만 출력됨

In [ ]:
a = [10, 1, 1, 11, 2, 23, 12]
a.index(11)
a[:a.index(11)]

In [ ]:
a = [10, 20, 30]
a.insert(2, 1000) # insert는 값을 지우지는 않습니다.
a

In [ ]:
l = [10, 20, 30, 40, 50]
l.pop()

In [ ]:
l = [10, 20, 30, 40, 50]
l.pop(0) # 많이 사용합니다.
l

In [ ]:
# append : 맨 뒤에 추가
# pop : 맨 뒤에서 값을 뽑아내고, index 가 들어갈 경우 index에서 뽑습니다.
# insert : index에 값을 삽입하고, 원래 있던 값을 뒤로 밀어버립니다.

In [ ]:
l = [10, 20, 30, 40, 50]
l.remove(20) # 예를 들어 for를 돌면서 remove를 하지 않기 바랍니다.
l

In [ ]:
l = [20, 20, 20, 20]
for i in range(len(l)):
    print(len(l)) # len가 계속 변하기 때문에 의도치 않은 에러가 날 수 있어요.
    l.remove(20)

In [ ]:
l = [20, 20, 20, 20]
for i in l:
    print(len(l))
    l.append(20) #무한 반복 #실행하지 말자!

In [ ]:
l = [10, 20, 30, 40, 50, 20, 20, 20]
for i in range(l.count(20)):
    l.remove(20)
l

In [ ]:
# 실무에서
# 어떤 값을 전부 없애거나
# 어떤 값을 전부 찾는 것
def f(x):
    return x != 20

# True인 것만 반환해줍니다.
list(filter(f, [10, 20, 30, 40, 50 , 20, 20, 20]))

In [ ]:
filter(f, [10, 20, 30, 40, 50 , 20, 20, 20])

In [ ]:
range(100)

In [ ]:
for i in filter(f, [10, 20, 30, 40, 50 , 20, 20, 20]):
    print(i)

In [ ]:
list(filter(lambda x: x!=20, [10, 20, 30, 40, 50 , 20, 20, 20]))

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
l.reverse() # 역 정렬이 아니고 역순이며, 원본을 만집니다.
l

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l))) # 역 정렬이 아니고 역순이며, 원본을 만지지 않습니다.
print(l)

In [ ]:
# l.reverse() : 리스트의 매서드이며, return None입니다! 원본이 역순, 원본을 만집니다.
# reversed(l) : 빌트 인 펑션이며, return 역순 입니다! 원본을 만지지 않습니다.

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(l.reverse())
l

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]


print(list(reversed(l)))
print(l)

In [ ]:
reversed(l)

In [ ]:
print(type(range(10)))

# 메서드는 대상.메서드종류()
# 빌트인함수는 함수명()

In [ ]:
# 함수내에서 사용되는 로컬 변수들의 변수 이름 및 현재 값 등을 알고 싶을 때
# locals 빌트인 함수를 사용할 수 있습니다.
def one():
    x = 1
    def two():
        print(x)
        print(locals())
    print(locals())
    two()
one()

## sort
* 별 6개

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
l.sort() # 원본을 만지고, 반환값은 None
l

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
print(sorted([1, 5, 4, 2, 8, 5, 10, 9, 2, 3]))
 # 원본을 만지지 않고, 반환값은 정렬된 값
print(l)

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
l.sort()
l.reverse()
l

In [ ]:
# 이렇게 많이 사용합니다.
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
l.sort(reverse=True) # 내림차순
l

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
sorted(l, reverse=True) # 내림차순

In [ ]:
l = [[1, 10, 'leehojun'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv!'], 
     [1, 2, 'hello world'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.
def f(x):
    return len(x[2])

print(sorted(l, key=f, reverse=False))
print(sorted(l, key=lambda x:len(x[2]), reverse=False))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def f2(x):
    return x[0]

print(sorted(l))
print(sorted(l, key=f2))
print(sorted(l, key=lambda x:x[0]))

# 3. 중앙에 위치한 값대로 정렬해주세요.

def f3(x):
    return x[1]

print(sorted(l))
print(sorted(l, key=f3))
print(sorted(l, key=lambda x:x[1]))

l = [[1, 10, 32], 
     [20, 30, 11], 
     [10, 20, 22], 
     [1, 2, 13], 
     [55, 11, 44]]


# 4. 3개의 전체 합이 작은 순서대로 출력해주세요.

def f4(x):
    return x[0] + x[1] + x[2]

def f5(x):
    return sum(x)

print(sorted(l, key=f4))
print(sorted(l, key=f5))
print(sorted(l, key=lambda x: sum(x)))
print(sorted(l, key=sum))

In [ ]:
# https://codingdojang.com/scode/408?answer_mode=hide
# 좌표 평면 문제가 나오면 차원 축소나 차원 확대가 가능한 문제인지 확인

point = [1, 3, 4, 8, 13, 17, 20]
point[1:]

[1, 3, 4, 8, 13, 17, 20]
[3, 4, 8, 13, 17, 20]

In [ ]:
list(zip('hello', 'world'))

In [ ]:
list(zip(point, point[1:]))

In [ ]:
def f(x):
    return x[1] - x[0]

sorted(zip(point, point[1:]), key=f)

In [ ]:
def f(x):
    return x[1] - x[0]

sorted(zip(point, point[1:]), key=f)[0]

In [ ]:
sorted(zip(point, point[1:]), key=lambda x: x[1]-x[0])[0]

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120835
# 응급도
# [3, 76, 24]
# 우선순위
# [3, 1, 2]

l = [3, 76, 24]
정렬된값 = sorted(l, reverse=True)
정렬된값 # [76, 24, 3]
# 우리가 원하는 값 [2, 0, 1]

결과값 = [
            정렬된값.index(l[0]), 
            정렬된값.index(l[1]), 
            정렬된값.index(l[2])
        ]
결과값

## 깊은 복사와 얕은 복사

In [ ]:
# 아무런 복사도 이뤄지지 않은 상태
l = [[1, 2, 3], [4, 5, 6]]
ll = l
ll[0][0] = 10
l, ll

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
ll[0] = 10
l, ll

In [ ]:
l = [100, 2000, 3000, 1000, 100, 100]
id(l[0]), id(l[1]), id(l[2]), id(l[3]), id(l[4]), id(l[5])

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
id(l[0]), id(ll[0]) # 같은 값이 나오니까 같은 객체를 가리키고 있다?

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
id(l), id(ll)

In [ ]:
# 얕은 복사 (1depth만 복사한다)
l = [[1, 2, 3], [4, 5, 6]]
ll = l.copy()
ll[0] = 100
l, ll

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, 3], [4, 5, 6]]
ll = copy.deepcopy(l)
ll[0][0] = 10
id(l), id(ll)
id(l[0]), id(ll[0])
id(l[0][0]), id(ll[0][0])

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, 3], [4, 5, 6]]
ll = copy.deepcopy(l)
ll[0][0] = 10

* 얕은 복사는 1 계층만 복사합니다. 
* 깊은 복사는 n 계층까지 모두 복사합니다.

* 나를 이해시키는 단 하나의 코드는 반드시 존재합니다.

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l[:]
l[0] = 100
l, ll

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l[:] # l에 copy를 써도 마찬가지입니다.
l[0][0] = 100
l, ll

In [ ]:
# sorted도 얕은 복사!
l = [[1, 2], [3, 4], [5, 6]]
ll = sorted(l)
l[0][0] = 100
l, ll

In [ ]:
# 얕은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문 배운다음 다시 오셔서 복습하시기를 권해드립니다.

l = [[1, 2, 3], [4, 5, 6]]
ll = [i for i in l]
l[0][0] = 100
l, ll

In [ ]:
# 1단계 깊은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문 배운다음 다시 오셔서 복습하시기를 권해드립니다.

l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
l[0][0] = 100
l, ll

##다차원 리스트

In [ ]:
a = [[1, 2, 3],
     [11, 22, 33],
     ['leehojun', 20, 30]]

# 문제 : jun만 뽑아주세요!
print(a[2][0][-3:])
print(a[2][0][5:])
print(a[2][0][5], a[2][0][6], a[2][0][7], sep='')

## 리스트에서 built-in function을 활용

* 알아야 하는 built-in function

A
abs()
all()
any()

B
bin()
bool()

C
chr()

D
dict()
dir()

E
enumerate()
eval()

F
filter()
float()

G
globals()

H
help()
hex()

I
id()
input()
int()
isinstance()
issubclass()
iter()

L
len()
list()
locals()

M
map()
max()
min()

N
next()

O
object()
oct()
open()
ord()

P
pow()
print()
property()

R
range()
repr()
reversed()
round()

S
set()
setattr()
slice()
sorted()
staticmethod()
str()
sum()
super()

T
tuple()
type()

V
vars()

Z
zip()

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(max(a)) # 최댓값
print(min(a)) # 최솟값
print(sum(a)) # 전체값의 합

In [ ]:
#2차원
a = [[1, 2, 3, 'a'],
     [11, 22, 33, 'aaa'],
     [10, 2000, 30, 'aa']]

max(a, key=lambda x:x[1])
max(a, key=lambda x:len(x[3]))

In [ ]:
# 이름, 별점, 객실수, 가격

호텔 = [
    ['이스트소프트 호텔', 5, 100, 155000],
    ['삼스트소프트 호텔', 4, 80, 145000],
    ['사스트소프트 호텔', 4, 70, 135000], 
    #마지막에 콤마를 허락하는 언어는 제한적 (특히 JSON에서는 엄격해서 허락하지 않습니다.)
]

max(호텔, key=lambda x:x[3]) # 가장 가격이 높은 것을 뽑아낼 수 있음
min(호텔, key=lambda x:x[3]) # 가장 가격이 낮은 것을 뽑아낼 수 있음

## 리스트의 순

In [ ]:
# 1차원
a = [1, 2, 3, 4, 5, 6, 7, 8]

# for 변수 in 순회가능한객체
for i in a: 
     print(i)

In [ ]:
# 2차원
a=[[1, 2, 3], [11, 22, 33], [13, 20000, 300000]]

for i in a:
    print(i)
    print('---')
print('end')

In [ ]:
# 2차원
a=[[1, 2, 3], 
   [11, 22, 33], 
   [13, 20000, 300000]]

for i in a:
    for j in i:
        print(j)
        print('---')
print('end')

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [10, 2000, 30]]

max(a, key=lambda x:x[1])
min(a, key=lambda x:x[1])
# sum(a) error
sum(a, [])

실무에서 쓰는 data
* https://json-generator.com/

## range

In [ ]:
# range(start, stop, step)
# 슬라이싱과 같은 규칙
# 슬라이싱은 ':'(콜론)으로 연결되어 있고
# range는 ','(콤마)로 연결되어 있습니다.

print(list(range(10))) 
#python 2.x에서 python 3.x에 range 사용하고 싶다면 xrange(10)
print(list(range(5, 10)))

print(list(range(0, 101, 2))) #짝수
print(list(range(1, 101, 2))) #홀수
print(list(range(100, 1, -2))) #홀수
print(sum(list(range(0, 101)))) # 리소스 낭비
print(sum(range(0, 101))) # 이렇게 형 변환을 하지 않고 sum 하시길 권합니다.

## list comprehension(리스트 표현식)

In [ ]:
# l = [1, 2, 3, 4, ...]
# list(range(1, 101))
l = []
for i in range(1, 101):
    l.append(i)
l

In [ ]:
# l = []
# for i in range(1, 11):
#     l.append(i ** i)
# l

l = [i ** i for i in range(1, 11)]
l

l = [i for i in range(1, 11)]
l

In [ ]:
l = []
for i in range(1, 100):
    if i %3 == 0 or i %5 == 0:
        l.append(i)

[i for i in range(1, 100) if i %3 == 0 or i %5 == 0]

## tuple (튜플)

- 튜플은 순서가 있는 시퀀스형 자료형입니다.
- 참조값은 변경이 불가능(immutable) 합니다. (값이 변경 불가능하다 x)
- 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다.
- 값의 중복을 허락합니다.

In [ ]:
t = (10, 20, 30)
t[1] = 1000

In [ ]:
l = [1, 2, 3] 
t = (l, 20, 30) # 불변인 것은 t가 l을 참조하고 있다는 것.
l[0] = 1000
t

In [ ]:
t = (10, 20, 30, 40, 50)
t[:3] # 슬라이싱하면 다른 객체가 됨

In [ ]:
type(t), dir(t)

In [ ]:
t = (10, 20, 30, 40, 20)
t.index(20), t.count(20)

In [ ]:
t = tuple('leehojun')
t
t = tuple()
t
t = tuple(range(10))
t
t = (1) 
t
t = (1,) #원소를 하나씩 넣고 싶을 때는 콤마(,)를 사용해줍니다.
t

## dict (딕셔너리, tkwjsgud)

- 딕셔너리는 순서가 없는 자료형입니다. (Python 3.6 버전부터 순서를 저장하는 구조로 변경되었음)
- 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료 체계입니다.
- 값의 변경이 가능합니다.
- 다른 자료형을 입력할 수 있습니다.
- 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.

In [ ]:
# JSon 형식
data = [{
    '게시물번호' : 1,
    '게시자' : '이호준',
    '게시물 내용' : '.........'
},{
    '게시물번호' : 2,
    '게시자' : '삼호준',
    '게시물 내용' : '.........'
},{
    '게시물번호' : 3,
    '게시자' : '사호준',
    '게시물 내용' : '.........'
},{
    '게시물번호' : 4,
    '게시자' : '오호준',
    '게시물 내용' : '.........'
}]

data[1]['게시자']

In [ ]:
{
    '게시물번호' : 1,
    '게시자' : '이호준',
    '게시물 내용' : '.........'
}

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d['one']

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d['two'] ='투'
d

In [ ]:
d = {}
type(d) # dict

d = {10}
type(d) # set

d = dict()
type(d) # dict

d = {'one' : 1}
type(d) # dict

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.items()

In [ ]:
dict([('one', '하나'), ('two', '둘'), ('three', '셋')])

In [ ]:
dict([['one', '하나'], ['two', '둘'], ['three', '셋']])

In [ ]:
dict(name='leehojun', age=10)

In [ ]:
list(zip('ABC', '123', 'abc'))

dict(zip('ABC', '123')) # 형변환

In [ ]:
# dict와 zip을 사용해서 아래와 같은 형태로 데이터를 만들어주세요.

# 원하는 형태 {'A': [10, 20], 'B': [20, 30], 'C': [34, 40]}

dict(zip('ABC',[[10, 20],[20,30],[34, 40]]))

l = [10, 20, 30, 40]
dict(zip('ABC', zip(l, l[1:])))

dict(zip('ABC', [list(elem) for elem in zip([10, 20, 30], [20, 30, 40])]))

In [ ]:
# Key찾기(value는 in 연산자로 못찾음)
'B' in {'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

In [ ]:
len({'A': [10, 20], 'B': [20, 30], 'C': [30, 40]})

In [ ]:
# 공부해두시면 좋습니다!
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }[day]

switch(7)
# switch(8) -> error

In [ ]:
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day)

switch(7)
switch(8) # get을 사용하면 못찾는 값을 넣었을 때 None을 줍니다.

In [ ]:
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day, '요일을 찾지 못했습니다.')

switch(7)
switch(8) # get을 사용하면 못찾는 값을 넣었을 때 default 값을 줍니다.

In [ ]:
!python --version

In [ ]:
# Python 3.10 부터 도입된 match case

def number_to_string(agrument):
    match agrument:
        case 0:
            return "zero"
        case 1:
            return "one"
        case 2:
            return "two"
        case default:
            return "nothing"


print(number_to_string(0))

In [ ]:
# %%timeit -> for문에서 시간 측정할 예정

%%timeit
s = 0
for i in range(10000):
    s += i

In [ ]:
%%timeit

sum([i for i in range(10000)])

In [ ]:
%%timeit

sum(range(10000))

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.keys()

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.values()

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.items()

In [ ]:
dict.fromkeys('leehojun')

In [ ]:
dict.fromkeys('leeohojun', 100)

In [ ]:
keys = ('name', 'age', 'grade')
values = ('leehojun', '10', '수')

dict.fromkeys(keys, values)

In [ ]:
d = {'one': '하나', 'two': '둘', 'three': '셋'}
d.update({'one': 1, 'two':2})
d

## 딕셔너리의 순회

In [ ]:
# key만 순회합니다.
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(i)

In [ ]:
# value만 순회합니다.
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(d[i])

## 언패킹

In [ ]:
# 패킹 : 1, 2, 3 => [1, 2, 3]
# 언패킹 : [1, 2, 3] => 1, 2, 3

In [ ]:
a, b, c = 10, 20, 30

a

In [ ]:
a, b, c = (10, 20, 30) # 소괄호든 대괄호든 상관 없습니다.

a

In [ ]:
i, j = [10, 20]
i

In [ ]:
for i, j in [[10, 20], [30, 40], [50,60]]:
    print(i, j)

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, [5, 6]]]:
    print(i, j, k)

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, []]]:
    print(i, j, k)

In [ ]:
# swap
a = 10
b = 15
a, b = b, a
a, b

In [ ]:
# swap in C (신발끈 코드)
a = 10
b = 15
temp = a
a = b
b = temp
a, b

In [ ]:
for i, j in d.items():
     print(i, j)

## max를 이용한 dict 최대 value의 key값 가져오기

In [ ]:
d = {
    'test1' : 10,
    'test2' : 20,
    'test3' : 31,
    'test4' : 11,
}

max(d.values()) # 이걸로는 먼가 찾아내기 힘듭니다.
max(d, key=lambda X: d[x])
max(d, key=d.get) # 많이 사용하는 코드입니다.

## set (셋, 집합)

* 집합 자료형은 중복을 허용하지 않으며
* 순서가 없는 자료형

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
print(n)

In [ ]:
s = set('hello world')
print(s)

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.add(1000)
print(n)

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.update({10, 20})
print(n)

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.remove(1)
print(n)

* pop은 실무에서 잘 사용하지 않습니다. 값을 랜덤하게 뽑아내기 때문입니다.

In [ ]:
# 교집합 별 3개
a = {1, 2, 3}
b = {3, 4, 5}

a & b
a.intersection(b)

In [ ]:
# 합집합
a = {1, 2, 3}
b = {3, 4, 5}

a | b
a.union(b)
# a + b -> error set은 덧셈안됨

In [ ]:
# 차집합
a = {1, 2, 3}
b = {3, 4, 5}
a - b
a.difference(b)

In [ ]:
s ={1, 2, 3, 4}
ss = {3, 4, 5, 6}
s.issubset({1, 2})
s.issubset({1, 2, 3, 4, 5, 6, 7, 8})

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120903?language=python3
def solution(s1, s2):
    return len(set(s1) & set(s2))

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120888
# my_string  	result
# "people"	    "peol"

In [ ]:
# my_string  	result
# "people"	    "peol"

result = ''
for i in 'people':
    if i not in result:
        result += i
result

In [ ]:
def solution(my_string):
    return set(my_string)

solution('people')

In [ ]:
def solution(my_string):
    return ''.join(set(my_string))

solution('people')

In [ ]:
def solution(my_string):
    집합 = set(my_string)
    result = ''
    for i in my_string:
        if i in 집합:
            result +=i
            집합.remove(i)
    return result

solution('people')

## !! 연습문제

In [ ]:
student_score = {
        '홍의': 97,
        '원희': 60,
        '동해': 77,
        '변수': 79,
        '창현': 89,
}

총합 = sum(student_score.values())
총합

평균 = 총합 / len(student_score)
평균

학생이름 = max(student_score, key=student_score.get)
높은점수 = (학생이름, student_score[학생이름])
높은점수

학생이름2 = min(student_score, key=student_score.get)
낮은점수 = (학생이름2, student_score[학생이름2])
낮은점수

In [ ]:
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']

a = set(like).difference(set(dislike))
list(a)

## (질의응답) max(student_score, key=student_score.get)

In [ ]:
def 함수(x):
    print(x, ll[x])
    return ll[x]

l = [2, 4, 5, 3, 6, 0, 7, 1]
ll = [10, 20, 30, 40, 50, 60, 70, 80]
max(l, key=함수)

In [ ]:
def 함수(x):
    print(x, len(ll[x]))
    return len(ll[x])

l = [2, 4, 5, 3, 6, 0, 7, 1]
ll = ['hello', 'a', 'bb', 'ccc', 'a', 'bbbb', 'hello world', 'cc']

max(l, key=함수)

In [ ]:
# return에 초첨을 맞추세요.
def 함수(x):
    return d.get(x)

d = {
      'test1': 10,
      'test2': 20,
      'test3': 31,
      'test4': 11,
}

# max(d, key=함수)
# max(d, key=d.get)
# max(d, key=lambda x: d[x])

In [ ]:
# return에 초점을 맞춰주세요.
def 함수(x):
    return len(x)
l = ['a', 'bb', 'ccc', 'dd']

max(l, key=함수)
max(l, key=len)

In [ ]:
def 함수(x):
    return d.get(x)

수학 = {
    '학생1': 10,
    '학생2': 20,
    '학생3': 31,
    '학생4': 11,
}

과학 = {
    '학생1': 11,
    '학생2': 17,
    '학생3': 13,
    '학생4': 11,
    '학생5': 25,
    '학생6': 100,
}

수학점수가가장큰사람 = max(수학, key=수학.get)
과학점수가가장큰사람 = max(과학, key=과학.get)
max(수학, key=과학.get)

In [ ]:
max(student_score, key=student_score.get)

## (질의응답) 함수의 아규먼트 순서

In [ ]:
def f(a, b, c):
    print(a, b, c)

# f() # error
# f(100, 10) # error
f(a=100, b=200, c=300)
f(c=300, a=100, b=200) #실무에서 이렇게 순서를 바꿔서 넣지 않고 보통 순서를 지켜줍니다.

# 실무에서 언제 사용이 될까요?
# 파라미터, 아규먼츠가 매우 많을 때
# 이런 함수가 나오면 이 함수가 무엇을 뜻하는 것일까요?
# addNewControl("Title", 20, 50, 100, 50, 200, 300, 150)
# addNewControl(title="Title", height=20, width=50, textlen = 100, ...)
# 어? 컨트롤 박스를 만드는 구나...

In [ ]:
def f(a=10, b=20, c=30):
    print(a, b, c)

f()
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

In [ ]:
def f(a=10, b=20, c): # c만 default value를 안주게 되면 error, 순서대로 안주어야 합니다.
    print(a, b, c)

# f() # error
# f(100, 10) # error
# f(a=100, b=200, c=300) # error
# f(c=300, a=100, b=200) # error
# f(c=300) # error

In [ ]:
def f(a, b=20, c=10): # 순서대로 안주어야 하기 때문에 a에 값을 넣지 않았습니다.
    print(a, b, c)

# f() # error
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

## (질의응답) zip, map 등 한 번 순회가 되면 순회가 안되는 이유

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']

z = zip(a, b)
print(list(z)) # [(1, 'a'), (2, 'b'), (3, 'c')]

# zip 객체는 한 번 사용되었으므로 빈 리스트가 반환됩니다.
print(list(z)) # []

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
z = zip(li, st)

for i in z:
    print(i)

for i in z:
    print(i)

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
i = iter(zip(li, st))
next(i)
# next(i)
# next(i)
# next(i) # StopIteration

In [ ]:
next(i)

In [ ]:
next(i)

In [ ]:
next(i) # error -> StopIteration 발생 (반복문 탈출)

In [ ]:
# zip 처럼 한번 순회하면 끝임 - map, reversed, filter
li = [1, 2, 3]
z = map(lambda x:x**2, li)

for i in z:
    print(i)

for i in z:
    print(i)

In [ ]:
li = [1, 2, 3]
z = reversed(li)

for i in z:
    print(i)

for i in z:
    print(i)

In [ ]:
li = [1, 2, 3]
z = filter(lambda x:x>1, li)

for i in z:
    print(i)

for i in z:
    print(i)

In [ ]:
# 계속 순회가 가능하게 설계가 되어 있습니다.
# 이런 설계를 뒤에서 우리가 직접 해보게 될 것입니다.
li = [1, 2, 3]
z = sorted(li)

for i in z:
    print(i)

for i in z:
    print(i)

## 조건문

* if, elif, else, continue, break

In [ ]:
x = 2
if x > 1 and x < 10:
    print('Hello')

In [ ]:
if True:
    print('Hello')

In [ ]:
if 12309:
    print('Hello')

In [ ]:
def f():
    return False # True 와 False로 바꿔보세요.

if f():
    print('hello')
    print('one')
print('two')

In [ ]:
if '': # [], {}, '' 는 모두 False 취급합니다.
    print('hello')
    print('one')
print('two')

In [ ]:
if ' ': # 공백이 있는 겁니다.
    print('hello')
    print('one')
print('two')

In [ ]:
if [                ]:
    print('hello')
    print('one')
print('two')

In [ ]:
if [,]: # error -> SyntaxError
    print('hello')
    print('one')
print('two')

In [ ]:
if [10,
    20,
    30,
    ]: # 마지막에 콤마는 허락합니다.! 소괄호, 중괄호, 대괄호에 콤마 뒤에 오는 공백은 병합합니다.
    print('hello')
    print('one')
print('two')

In [ ]:
if None:
    print('false')

In [ ]:
class int(int):
    def __eq__(self, next): # 등호(==)같이 true로 출력하겠다는 것
        return True

if int('11') == int('10'):
    print('hello')

In [ ]:
if 10 > 11:
    print('one')
    print('two')
print('three')
else: #error
    print('four')

In [ ]:
if 10 > 11:
    print('one')
    print('two')
else: 
    print('three')

In [ ]:
# else가 없어도 되는 경우
def f():
    if 10 > 11:
        return 'one'
    return 'two'

print(f())

In [ ]:
# if문을 단축할 수 있는 방법 =>
# 가독성이 좋아지는 것을 선택하세요! 정답은 없습니다.
# and 구문으로 if문 합칠 수 있습니다.
x = 10
if x > 5:
    if type(x) == int:
        print('one')

if x > 5 and type(x) == int:
    print('one')

In [ ]:
# if문을 단축할 수 있는 방법 =>
# 가독성이 좋아지는 것을 선택하세요! 정답은 없습니다.
# and 구문으로 if문 합칠 수 있습니다.
x = 10
if x > 5:
    if type(x) == int:
        if x % 2 == 0:
            print('one')

if x > 5 and type(x) == int and x % 2 == 0:
    print('one')

In [ ]:
if True:
    print('Hello')
else:
    print('Hello')
else: # error
    print('Hello')
else:
    print('Hello')

In [ ]:
if True:
    print('Hello')
if True:
    print('Hello')
if True:
    print('Hello')
if True:
    print('Hello')
else:
    print('hello')

In [ ]:
if True:
    print('hello')
elif True:
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

In [ ]:
elif True: # error -> 위에 구문이 있어야 합니다.
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

## if문 심화

In [ ]:
# 저는 개인적으로 해당 문법이 가독성을 떨어트린다고 생각해
# 권장하진 않습니다.
if 10 > 5: print('hello') # 1줄에 사용하는 것이 가능합니다.

In [ ]:
if 1 > 5: print('hello')
elif 5 > 1: print('world')

In [ ]:
if 1 > 5: print('hello')
elif 1 > 5: print('world')
else: print('hello world')

In [ ]:
# 3항 연산자는 가독성을 해치지 않는 선에서 많이 사용합니다.
print('one') if 5 > 1 else print('two')

In [ ]:
(print('one') if 5 > 1 else print('two'))

In [ ]:
# error -> 이렇게 사용하지 않습니다!
if 5 > 1 print('one') else print('two')

In [ ]:
if 5 > 1:
    print('one')
else:
    print('two')

In [ ]:
# 할당이나 return에서 많이 사용합니다.
# 할당이나 return을 할 때 어떤 조건을 달고 싶을 때
# 그런데 일반 if문과 else문이 거창하다고 생각이 되었을 때

y = 100
x = 'one' if y > 80 else None

In [ ]:
x

In [ ]:
def f(y):
    if y > 80:
        x = 'one'
    else:
        x = None
    return x

print(f(100))
print(f(30))

In [ ]:
def f(y):
    return 'one' if y > 80 else None

print(f(100))
print(f(30))

In [ ]:
def f(y):
    if y > 80:
        return 'one'
    return None

print(f(100))
print(f(30))

In [ ]:
score = 81
money = 0

if score >= 90: # 만약에 조건이 참이라면
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80: # 그렇지 않고 만약에 조건이 참이라면
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70: # '그렇지 않고 만약에' '그렇지 않고'가 만족이 안되기 때문에 실행 x (조건 조차 안읽음)
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

# if, elif, else 구문은 함께 썼다면 한 덩어리 입니다.
# 하나만 실행이 되고 나머지는 실행이 되지 않습니다.

In [ ]:
def custom_sum(x):
    return sum(x)

custom_sum([1, 2, 3, 4, 5, 6]) # 21
custom_sum([1, 2, 3, 4, '5', 6]) # float('inf')

In [ ]:
# 이해를 위해 만든 예제이지 효율적이진 않습니다.
def custom_sum(x):
    return sum(x) if len(list(filter(lambda x:type(x)==int, x))) == len(x) else float('inf')

custom_sum([1, 2, 3, 4, 5, 6]) # 21
custom_sum([1, 2, 3, 4, '5', 6]) # float('inf')

In [ ]:
l = [1, 2, 3, '4', '5']
list(filter(lambda x:type(x)==int, l))
len(list(filter(lambda x:type(x)==int, l)))

len(l)

In [ ]:
# 문제 : 다음 if문을 3항 연산자로 표현해주세요.
# if x % 2 == 0:
#     홀짝여부 = '짝수'
# else:
#     홀짝여부 = '홀수'

x = 10
홀짝여부 = '짝수' if x % 2 == 0 else '홀수'

print(홀짝여부)

In [ ]:
# 지금하는 것은 위 보다 빈도도 거의 없습니다.
# 3항 연산자의 중첩
# '조건1이 True일 때' if '조건1' else '조건2가 True일 때' if '조건 2' else '조건 1, 조건2가 False 일 때'

In [ ]:
# '조건1이 True일 때' 
# if '조건1' 
# else '조건1이 false이고 조건2가 True일 때' 
#     if '조건 2' 
#     else '조건 1, 조건2가 False 일 때'

In [ ]:
x = 15
if x % 2 == 0:
    배수 = '2x' # 2의 배수
elif x % 3 == 0:
    배수 = '3x' # 3의 배수
else:
    배수 = '?' # 2의 배수도 아니고 3의 배수도 아니다

In [ ]:
x = 15
배수 = '2x' if x % 2 == 0 else '3x' if x % 3 == 0 else '?'
배수

## 반복문

In [ ]:
# for 변수 in 순회가능한객체:
#     code

In [ ]:
# 순회가능한 객체 != 시퀀스형자료형 => 순서가 없어도 순회가 가능하기 때문 시퀀스형 자료형은 순회가능한 객체에 포함

In [ ]:
for i in 'hello world':
    print(i)

In [ ]:
for i in 10: # error
    print(i)

In [ ]:
for i in 10.1: # error
    print(i)

In [ ]:
for i in [1, 2, 3]:
    print(i)

In [ ]:
for i in (1, 2, 3):
    print(i)

In [ ]:
for i in {1, 2, 3}:
    print(i)

In [ ]:
for i in {'one': 1, 'two':2, 'three':3}:
    print(i)

In [ ]:
# 변수에는 range, enumerate, zip, map, sorted, reversed...
for i in range(10):
    print(i)

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in 언어순위:
    print(i)

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위):
    print(i)

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위, 1):
    print(i)

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위, 101):
    print(i)

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i, j in enumerate(언어순위, 1):
    print(i, j)

In [ ]:
for _ in 순화가능한객체:
    print(_)

In [ ]:
for _ in range(3): # 언더바(_)는 해당 코드 내에서 변수를 사용하지 않겠다는 의미이기도 함
    print('hello world')

In [ ]:
for _, i in [[1, 2], [3, 4], [5, 6]]: 
    print('hello world')
    print(i)

In [ ]:
s = 0
for i in range(0, 101, 2):
    s += i

s

In [ ]:
listx= [100,200,300,400]
strx= 'abcd'
dictx = {'one':1, 'two':2}

listxlter = iter(listx)
strxlter= iter(strx)
dictxlter= iter(dictx)

# 시퀀스형 자료형에만 next가 되는 것이 아니고 
# next 다음 순회 값을 지정할 뿐입니다.
print(next(listxlter), next(listxlter), next(listxlter), next(listxlter))
print(next(strxlter), next(strxlter), next(strxlter), next(strxlter))
print(next(dictxlter), next(dictxlter))

In [ ]:
# for True : # 이렇게 사용하지는 못합니다.
#     print('Hello')

## break과 continue

In [ ]:
for i in range(10):
    print(i)
    if i == 5:
        break

In [ ]:
# 모든 for가 중단이 되는 것은 아니다!
# 자신을 감싸고 있는 단일 반복문만 탈출합니다.
for i in range(10):
    print('-----------')
    print(i)
    for j in range(10):
        print(i, j)
        if i == 5:
            break

In [ ]:
# continue는 다음 루프로 갑니다.
# 아래 코드에서 continue는 의미가 업습니다.
for i in range(10):
    print(i)
    if i == 5:
        continue

In [ ]:
# continue는 다음 루프로 갑니다.
# 아래 코드에서 continue는 아래 print를 실행시키지 않고
for i in range(10):
    if i == 5:
        continue
    print(i)

In [ ]:
# 실행과 동시에 정지를 눌러주세요.
# 무한반복입니다.
# 아래 코드는 효율적이지 못하니
# 뒤에서 배울 generator로 무한 반복을 구현해주세요.
l = [1]
for i in l:
    l.append(i+1)
    print(i)

## for와 else구문

In [ ]:
# 다른 언어에서는 이 구문이 작동되지 않습니다.
for i in range(10):
    if i == 5:
        break
else:
    print('정상종료!')

In [ ]:
# 반복문 + else구문은
# 반복문이 break를 쓰지 않고 정상 종료되었을 때
# else 구문이 실행됩니다.
for i in range(10):
    if i == 5:
        pass
else:
    print('정상종료!')

In [ ]:
# JAVA와 다르게 증감식 구조가 다름!
# 조건에 의해 i 증가시키고 싶으면 그냥 while문 사용
for i in range(0, 10, 2):
    print(i)

## 리스트 표현식(list conprehension)

In [ ]:
# 별 3.5개
# 리스트 안에 반복문이나 조건문을 넣어 한 번에 리스트를 생성하는 기법
# 리스트 표현식은 for문보다 빠릅니다! (가독성 + 속도우위)
l = []
for i in range(10):
    l.append(i)
l

In [ ]:
[i for i in range(10)]

In [ ]:
# 이정도만 하실 수 있으면 우리 수업에서는 문제 없습니다.
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
l

In [ ]:
[i for i in range(10) if i % 2 == 0]

In [ ]:
l = ['aa', 'abc', 'bbb', 'ccc', 'aba']
[i for i in l if 'a' in i]

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
    elif i % 3 == 0:
        l.append(i)
l

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0 or i % 3 == 0:
        l.append(i)
l

In [ ]:
[i for i in range(10) if i % 2 == 0 or i % 3 == 0]

In [ ]:
# [i for i in range(10) if i % 2 == 0 elif i % 3 == 0] => error

In [ ]:
# 구구단
# 손으로 꼭 순회 1번씩 돌아보셔야 합니다.
for i in range(2, 10):
    for j in range(1, 10):
        print(i, j, i*j)

'''
# step 0
# 이렇게 손이나 문자열로 늘여트려놓고 
#내가 무엇을 줄일 수 있을까?를 고민하세요.
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
'''

# step 1 ~ 100 이렇게 하나씩 줄여가면 됩니다.
# for i in range(1, 10):
#     print(2, i, 2*i)

# 이렇게 하나씩 줄여가면 됩니다.
# for i in range(1, 10):
#     print(2, i, 2*i)

# for 단 in range(2, 10):
#     for i  in range(1, 10):
#         print(단, i, 단*i)

In [ ]:
# 별찍기
# 트리 만드는 문제, 원 만드는 문제 등....

'''
*
**
***
****
*****
'''

In [ ]:
user_input = int(input('찍을 별의 층수?'))
for i in range(1, user_input+1):
    print('*' * i)

In [ ]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append([i, j, i*j])
l

In [ ]:
[[i, j, i*j] for i in range(2, 10) for j in range(1, 10)]

## 다중 리스트 순회

In [ ]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i, j in skill:
    print(i,j)

In [ ]:
skill_name = ['고기잡이', '고기팔기', '낚시']
skill_point = [100, 120, 5]

for i, j in zip(skill_name, skill_point):
    print(i,j)

In [ ]:
# 이정도 코드만 아셔도 실무하는 것에는 무리가 없습니다.
skill = [
        ('고기잡이', [1, 100]),
        ('고기팔기', [1, 100]),
        ('낚시', [2, 100]),
        ('통발', [2, 100]),
        ('큰그물', [2, 100])
]

for i, [x, y] in skill:
    print(i, x, y)

In [ ]:
skill = [
        ('고기잡이', (1, 100)),
        ('고기팔기', (1, 100)),
        ('낚시', (2, 100)),
        ('통발', (2, 100)),
        ('큰그물', (2, 100))
]

for i, [x, y] in skill:
    print(i, x, y)

In [ ]:
skill = [
        ('고기잡이', 'ab'), #('고기잡이', 'abds') 이런 형태는 error
        ('고기팔기', 'cd'),
        ('낚시', 'aa'),
        ('통발', 'cc'),
        ('큰그물', 'dd')
]

for i, [x, y] in skill:
    print(i, x, y)

In [ ]:
# 문제
# data는 다음과 같은 데이터가 있습니다.
# 각각 skill이름, skill제한레벨, skill 포인트, skill 등급입니다.
# 아래와 같이 출력해주세요.
data = [
        ('고기잡이', 1, 100, 'S'),
        ('고기팔기', 1, 100, 'A'),
        ('낚시', 2, 100, 'A'),
        ('통발', 2, 100, 'B'),
        ('큰그물', 2, 100, 'S')
]

# 출력값
# 아래와 같은 형식으로 총 5개 출력해야 합니다.
# '축하합니다. S등급 skill 고기잡이를 습득하셨습니다! 
# 해당 스킬은 레벨 제한 1에 스킬 포인트 100입니다.'

for i, j, k, l in data:
    print(f'축하합니다. {l}등급에 skill {i}를 습득하셨습니다! 해당 스킬은 레벨 제한 {j}에 스킬 포인트 {k}입니다.')

In [ ]:
# 문제
# data는 다음과 같은 데이터가 있습니다.
# 각각 skill 이름, skill 제한 레벨, skill 포인트, skill 등급입니다.
# 아래와 같이 출력해주세요.
data = [
        ('고기잡이', (1, 100, 'S')),
        ('고기팔기', (1, 100, 'A')),
        ('낚시', (2, 100, 'A')),
        ('통발', (2, 100, 'B')),
        ('큰그물', (2, 100, 'S'))
]

# 출력값
# 아래와 같은 형식으로 총 5개 출력해야 합니다.
# '축하합니다. S등급에 skill 고기잡이를 습득하셨습니다! 
#  해당 스킬은 레벨 제한 1에 스필 포인트 100입니다.'

for i, [j, k, l] in data:
    print(f'축하합니다. {l}등급에 skill {i}를 습득하셨습니다! 해당 스킬은 레벨 제한 {j}에 스킬 포인트 {k}입니다.')

In [ ]:
# 언패킹하는 경우 변수가 많으면 어디서 어떻게 사용되는지 파악하기 어려움
# 그래서 변수명을 잘 작성해서 사용하면 더 편하게 코드 해독이 가능함
# 출력값을 줄바꿈 하려면 print는 큰 부하가 생기기 때문에 적게 사용하고 '\n' 사용하면 좋음.
data = [
        ('고기잡이', (1, 100, 'S')),
        ('고기팔기', (1, 100, 'A')),
        ('낚시', (2, 100, 'A')),
        ('통발', (2, 100, 'B')),
        ('큰그물', (2, 100, 'S'))
]
for skill_name, [skill_limit, skill_point, level] in data:
    print(f'축하합니다. {level}등급에 skill {skill_name}를 습득하셨습니다!'"\n"'해당 스킬은 레벨 제한 {skill_limit}에 스킬 포인트 {skill_point}입니다.')

## while

In [ ]:
# 반복문 : for, while
a = 1
while a < 10 : # True인 동안에
    print(a)
    a += 1

In [ ]:
# while 특정요소:
#     특정요소값 꺼내는 문법
#     특정요소가 모두 없어질 때 까지

l = [1, 2, 3]
while l: #[]
    print(l.pop())

In [ ]:
l = {1, 2, 3}
while l:
    print(l.pop())

In [ ]:
# 중복되는 문자열 중 가장 첫번째 나온
# 문자의 index를 반환하라!
s = 'abkkkbnbbbccdennnneefefj'
ss = set(s)
while ss:
    string = ss.pop()
    print(string, s.index(string))

In [ ]:
# 폴더 생성하도록 하는
# import os

# path = './dir/tmp'

# os.mkdir(path)

In [ ]:
# 이러한 무한반복은 메모리를 모두 소진합니다.
# 서버가 뻗을 수도 있습니다.
# mkdir : directory 생성하는 명령어
# rmdir : directory 삭제하는 명령어
while True:
    user_input = input('$')
    if user_input == 'mkdir':
        print('폴더가 생성되었습니다!')
    elif user_input == 'rmdir':
        print('폴더가 삭제되었습니다!')

In [ ]:
# 이러한 무한반복은 메모리를 모두 소진합니다.
# 서버가 뻗을 수도 있습니다.
while True:
    user_input = input('$')
    split_data = user_input.split(' ')
    if split_data[0] == 'mkdir':
        print(f'{split_data[1]} 폴더가 생성되었습니다!')
    elif split_data[0] == 'rmdir':
        print(f'{split_data[1]} 폴더가 삭제되었습니다!')
    elif split_data[0] == 'exit':
        print('프로그램을 종료합니다.')
        break

In [ ]:
# random 난수에 가깝게 수를 생성해주는 모듈..?

import random

random.randint(1, 100)

In [ ]:
# up down game

result = random.randint(1, 100)

while True:
    user_input = int(input())
    if user_input > result:
        print('down')
    elif user_input < result:
        print('up')
    else:
        print('맞췄습니다!')
        print('프로그램을 종료합니다.')
        break

In [ ]:
# 구구단이 출력되지 않는 코드
# 한땀 한땀 따라가면서 왜 출력이 되지 않는지 체크해보기
x = 2
y = 1
while x <10:
    while y <10:
        print(x, y, x * y)
        y += 1
    x += 1

In [ ]:
x = 2
y = 1
while x <10:
    while y <10:
        print(x, y, x * y)
        y += 1
    y = 1 # 초기화를 해주어야 다음 while문에서 y < 10에 들어갈 수 있다.
    x += 1

In [ ]:
count = 0
while True:
    print(count)
    if count == 5:
        break
    count += 1
print('end')

In [ ]:
# 무한 루프
count = 0.0
while True:
    print(count)
    if count == 0.3: # 부동소수점 문제가 발생할 수 있습니다.
        break
    count += 0.1
print('end')

In [ ]:
# 무한 루프 해결방법 (0.30000000000000004)
count = 0.0
while True:
    print(count)
    if count >= 0.3:
        break
    count += 0.1
print('end')

In [ ]:
# 다른 언어에서는 이 구문이 작동되지 않습니다.
i = 0
while i < 10:
    if i == 5:
        break
    i += 1
else:
    print('정상종료!')

In [ ]:
i = 0
while i < 10:
    i += 1
else:
    print('정상종료!')

* https://school.programmers.co.kr/learn/courses/30/lessons/120871

In [ ]:
# step 1
count10 = 0
n = 15
while count10 < n + 1:
    print(count10)
    count10 += 1

In [ ]:
# step 2 조건만 간단히 구현
count10 = 0
count3 = 0 # 3x 마을에서 쓰는 숫자
n = 15
while count10 < n + 1:
    count10 += 1
    count3 += 1
    if count3 % 3 == 0 or '3' in str(count3):
        count3 += 1
    # 저주의 숫자를 지나가도 다시 저주의 숫자 일 수 있습니다.
    # 체크를 계속 해야하는데 한 번만 합니다.
    print(count10, count3)

count3

In [ ]:
# step 3 조건만 간단히 구현 => 조건이 계속 반복되도록
count10 = 0
count3 = 0 # 3x 마을에서 쓰는 숫자
n = 10
while count10 < n:
    count10 += 1
    count3 += 1
    while count3 % 3 == 0 or '3' in str(count3):
        count3 += 1
    # 저주의 숫자를 지나가도 다시 저주의 숫자 일 수 있습니다.
    # 체크를 계속 해야하는데 한 번만 합니다.
    print(count10, count3)

In [ ]:
# step 3 조건만 간단히 구현 => 조건이 계속 반복되도록
count10 = 0
count3 = 0 # 3x 마을에서 쓰는 숫자
n = 10
while count10 < n:
    count10 += 1
    count3 += 1
    while count3 % 3 == 0 or '3' in str(count3):
        count3 += 1
    print(count10, count3)

In [ ]:
def solution(n):
    count10 = 0
    count3 = 0
    while count10 < n:
        count10 += 1
        count3 += 1
        while count3 % 3 == 0 or '3' in str(count3):
            count3 += 1
    return count3

In [ ]:
[i for i in range(1, 31) if i % 3 != 0 and not('3' in str(i))][n-1]

In [ ]:
def solution(n):
    return [i for i in range(1, 1001) if i % 3 != 0 and not('3' in str(i))][n-1]

## try-except-else

In [ ]:
try:
    i = 1
    j = 0
    x = i/j
except:
    print('error')
else:
    print(x)

## 실제 데이터를 가지고 연습 (json gen)

In [ ]:
data = [
  {
    "_id": "6459ca18be13a43c320accba",
    "age": 21,
    "eyeColor": "blue",
    "name": "Cynthia Bradley",
    "gender": "female"
  },
  {
    "_id": "6459ca18ec23fbbd90230b58",
    "age": 27,
    "eyeColor": "blue",
    "name": "Vonda Gross",
    "gender": "female"
  },
  {
    "_id": "6459ca18632d24ad2e63b39c",
    "age": 27,
    "eyeColor": "blue",
    "name": "Lowery Berg",
    "gender": "male"
  },
  {
    "_id": "6459ca18737072bd2fdcb616",
    "age": 31,
    "eyeColor": "green",
    "name": "Farrell Keith",
    "gender": "male"
  },
  {
    "_id": "6459ca1852d0a98e035f1d17",
    "age": 29,
    "eyeColor": "green",
    "name": "Anderson Humphrey",
    "gender": "male"
  }
]

# 반복문을 사용해도 좋지만,
# 반복문을 사용하실 수 없다면 index로만 계산하셔도 좋습니다.

for i in range(len(data)):

In [ ]:
age = 0
fm = 0
ml = 0
for i in range(len(data)):
    age = age + data[i]['age']
    if data[i]['gender'] == 'female':
        fm = fm + 1
    else:
        ml = ml + 1
print(f'data의 평균 연령은{age / i}세 이고, 남녀 성비는 {ml} : {fm} 이다.')

In [ ]:
# Lv0
print((data[0]['age'] + data[1]['age'] + data[2]['age'] + data[3]['age'] + data[4]['age']) / 5)

성별 =[]
성별.append(data[0]['gender'])
성별.append(data[1]['gender'])
성별.append(data[2]['gender'])
성별.append(data[3]['gender'])
성별.append(data[4]['gender'])
print(성별)
print(성별.count('male') / len(data) * 100)
print(성별.count('female') / len(data) * 100)

In [ ]:
# Lv1
age_sum = 0
for i in range(5): # 좋은 코드는 아닙니다.
    age_sum += data[i]['age']
print(age_sum/5)

성별 = []
for i in range(5):
    성별.append(data[i]['gender'])
print(성별.count('male') / len(data) * 100)
print(성별.count('female') / len(data) * 100)

In [ ]:
# Lv1
age_sum = 0
for i in range(len(data)):
    age_sum += data[i]['age']
print(age_sum/5)

성별 = []
for i in range(len(data)):
    성별.append(data[i]['gender'])
print(성별.count('male') / len(data) * 100)
print(성별.count('female') / len(data) * 100)

In [ ]:
# Lv2

# 평균 (1줄)
# list(map(lambda x:x['age'], data))
sum(map(lambda x:x['age'], data)) / len(data)

# 성별 (1줄)
# map(lambda x:x['gender'] == 'male', data)
len(list(filter(lambda x:x['gender'] == 'male', data))) / len(data) * 100
len(list(filter(lambda x:x['gender'] == 'female', data))) / len(data) * 100

## 알아야 하는 built-in-function

### 수학적 통계에 활용되는 함수

- abs( ) : 괄호 안에 있는 값을 절대값으로 출력해줍니다.
- all( ) : 괄호 안에 있는 값들이 모두 True(False)일 때 True(False)를 출력합니다.
- any( ) : 괄호안에 있는 값이 하나라고 True이면 True로 출력합니다.
- pow( ) : 제곱을 출력합니다.
- max( ) : 값의 최댓값을 출력합니다.
- min( ) : 값의 최솟값을 출력합니다.
- sum( ) : 값의 합계를 출력합니다.
- len( ) : 문자열의 길이를 출력합니다.
- sorted( ) : 데이터를 정렬해줍니다.
- reversed( ) : 정렬되지 않은 상태에서 값을 역순으로 출력합니다.

In [ ]:
abs(-1)
all([True, True, True])
all([True, False, True])
all(['a', 'b', 'ccc'])
all(['a', '', 'CCC'])
if all([3 > 5, 12 % 2 == 0, 15 % 5 == 0]):
    print('hello')

if all([3 > 5, 
        12 % 2 == 0, 
        15 % 5 == 0]):
    print('hello')

if 3 > 5 and 12 % 2 == 0 and 15 % 5 == 0:
    print('hello')

# if all([one(), two(), three()]):
#     print('hello')

# all(True, True, True) # all() takes exactly one argument (3 given)

pow(2, 3) # 2 ** 3

In [ ]:
sum([[1, 2], [3, 4], [5, 6]], [])
sum([1, 2, 3, 4, 5], 100)
# sum([1, 2, 3, 4, 5], {1, 2, 3}) # error

In [ ]:
# __len__가 없는 것들: map, zip, filter...
class str(str):
    def __len__(self):
        return 1000

len(str('hello world'))

In [ ]:
# len(zip([1, 2, 3], 'abc')) #error -> object of type 'zip' has no len()

### 형변환 함수

- set( )
- dict( )
- hex( ) : 16진법
- bin( ) : 2진법
- oct( ) : 8진법
- bool( )
- str( )
- ord( ) : 각각의 문자에 대한 숫자값을 출력해줍니다.(아스키코드표를 참고하세요.)
- float( )
- tuple( )
- chr( ) : 숫자값을 통해서 문자를 출력합니다.
- list( )
- range( )
- complex( )

In [ ]:
l = [1, 2, 3]
type(l)

In [ ]:
# 아래 3개는 int형
# bin( ) : 2진법
# oct( ) : 8진법
# hex( ) : 16진법

# type(bin(7)) -> str형
bin(7)
# type(0b111) -> int형
# int('111', 2) -> 2진수를 10진수로 바꾸려면 int() 사용하고 2진수인 것을 표기해주면 됨
int('0b111', 2)
# int(0b111, 2) ->int() can't convert non-string with explicit base

In [ ]:
hex(65)

In [ ]:
chr(65)
ord('A')

In [ ]:
# list(range(start, stop, step))
list(range(0, 10, 2))
list(range(0, 10))
list(range(10))
list(range(-10, 10, 2))
list(range(0, -10, -2))

### 도움말

In [ ]:
def hojun():
    '''
    이호준이 작성한 함수
    '''
    pass

help(hojun)

### object 관련 함수

- dir( )
- id( )
- type( )

In [ ]:
# dir() # directory의 약자로 대상이 가진 attribute를 모두 출력합니다.
# attribute가 무엇인가? class에서 배울 member + method

In [ ]:
def f():
    return 100

f.name = 'leehojun'
dir(f)
print(f.name)

In [ ]:
l = 10

# 복사가 제대로 이뤄졌나?

id(l) # 깊은복사, 얕은복사

In [ ]:
type('abc') # str
print(type('abc')) # <class 'str'>
print(type(f)) # <class 'function'> class가 전체 Python을 관통하고 있습니다.

### 유용한 순회 가능 객체

- enumerate( ) : 값에 순위를 매기고 싶을 때 사용합니다.
- range( )
- filter( )
- zip( )
- map( )
- range()

In [ ]:
print(type(range(3)))

In [ ]:
list(enumerate([10, 20, 30]))

In [ ]:
list(enumerate([10, 20, 30], 100))
# list(enumerate([10, 20, 30], 'abc')) -> error 뒤에 숫자를 입력해야 합니다.

In [ ]:
def 함수(x):
    return x > 15

# True인 것들만 반환해줌
list(filter(함수, [10, 20, 30, 40]))
list(filter(None, [True, True, False, False]))
# filter에 None 주는 것이 어디에 유용할까요?
# 여러가지 자료형이 섞여 있을 때 값이 들어있는 것만 찾을 경우
list(filter(None, [[], 'abc', '', '']))

In [ ]:
list(zip('abc', 'defaaaa', 'ght', [1, 2, 3], [4, 5, 6, 7]))

In [ ]:
x = [5, 4, 6, 8, 2]
list(zip('abcdefg', sorted(x)))

In [ ]:
x = [5, 4, 6, 8, 2]
y = [7, 6, 54, 4, 2, 3, 3]
list(zip('abcdefg', zip(x, y)))

## args, kargs

* 가변 아규먼트, 가변 키워드 아규먼트

In [ ]:
def print_args(a, *args): # 꼭 args가 될 필요는 없습니다.
    print(args)

print_args(100, True, 'leehojun')

In [ ]:
def print_kwargs(a, **kwargs): # 꼭 kwargs가 될 필요는 없습니다.
    print(a)
    print(kwargs)

print_kwargs(100, name='leehojun', age='10')

In [ ]:
#  왜 *가 2개일까요?
#  key와 value 모두를 넘기기 위해
def print_kwargs(*kwargs): # 
    print(kwargs)

value = {'one':10, 'two':20}
print_kwargs(*value)

In [ ]:
def print_args(*args, b): # error 입니다.
    print(args)

print_args(100, True, 'leehojun')

In [ ]:
def print_args(b, *args): # error 입니다. args 앞에 순서대로 넣을 변수가 있어야 합니다.
    print(args)

print_args(100, True, b='leehojun')

In [ ]:
one, two, *three = 1,2,3,4,5 # *가 하는 역할은? 남은 데이터의 패킹
print(one, two, three)

## lambda

* lambda는 익명함수라고 하며, 이름이 없는 함수

In [ ]:
leehojun = lambda x : x**2

# def leehojun(x):
#     return x ** 2

In [ ]:
print(type(leehojun))

In [ ]:
print(type(lambda x : x ** 2))

In [ ]:
print(dir(lambda x : x ** 2))

In [ ]:
# 참조 카운팅이 있음
# 변수가 가리키게 만들면 참조카운트가 증가한다. => 재사용이 가능하다
def 함수(x):
    return x ** 2

print(dir(함수))

In [ ]:
#참조 카운팅이 없음 -> lambda는 사용 후 소멸됨
lambda x : x ** 2

In [ ]:
def add(x, y):
    return x + y
def sub():
    pass
def div():
    pass
def mul():
    pass


caculator = [add, sub, div, mul]
print(caculator[0](10, 20))#0번째 값은 add 입니다.

caculator2 = [lambda x, y: x+y, 
              lambda x, y: x-y, 
              lambda x, y: x/y, 
              lambda x, y: x*y]

print(caculator2[0](10, 20))#0번째 값은 add 입니다.

In [ ]:
def f():
    return lambda x, y: x+y

f()(10, 20)

In [ ]:
def f():
    return lambda x: lambda i: i ** 2

f()(1)(10)

In [ ]:
def f():
    return lambda x: lambda i:x*i ** 2

f()(2)(10)

### lambda 실무 응용

* lambda가 응용되는 곳 : map, filter, max, min, sorted

In [ ]:
# 실무에서도 많이 사용됩니다.
def 제곱(x):
    return x ** 2

# 재사용하는 경우에는 함수로 선언하는 경우도 있습니다.
list(map(제곱, [1, 2, 3, 4]))
list(map(제곱, [1, 2, 3, 4]))

list(map(lambda x : x ** 2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

[1, 4, 9, 64, 125]

In [ ]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

# 1. zip으로 맵핑
square_zip = list(zip(숫자, 승수))
print(square_zip)

# 2. 승수만큼 승수하여 결과값 표현
square = list(map(lambda x :x[0] ** x[1], zip(숫자, 승수)))
print(square)

# 3. 승수한 값이 100 이상인 값을 출력
# for i in square:
#     if i > 100:
#         print(i)

square_large = list(filter(lambda x: x > 100, map(lambda x :x[0] ** x[1], zip(숫자, 승수))))
print(square_large)


# 4. 승수한 값을 모두 더하세요.
square_sum = sum(list(map(lambda x :x[0] ** x[1], zip(숫자, 승수))))
print(square_sum)

[(1, 2), (2, 2), (3, 2), (4, 3), (5, 3)]
[1, 4, 9, 64, 125]
[125]
203

## 데코레이터

## 클로저, 팩토리 함수

## 제너레이터와 이터레이터